[2019-10-20 13:18] RadionBik opened #1 "labeling inconsistency with nDPI"
Hello!

I checked how your lib labels flows in comparison with nDPI and found out that sometimes there are mismatches.

The nDPI's  (for v.2.x and the latest dev) and your lib's outputs for a single pcap are enclosed.
[2x_ndpi_out.txt](https://github.com/aouinizied/nfstream/files/3747885/2x_ndpi_out.txt)
[latest_ndpi_output.txt](https://github.com/aouinizied/nfstream/files/3747886/latest_ndpi_outp

[2019-10-20 14:28] aouinizied commented on #1
Hi RadionBik,

Thank you for the report. It's not 'my lib' bur 'our lib' as you contribute to it too.
Please note that tests repository is constructed based on nDPI output.
nDPI as lib have two level for app idententification: master and app_protocol
In the output you generated nDPIReader remove maste if it's unknown for printing convenience.
So when you find that nfstream reports Unknown.Facebook

[2019-10-20 14:41] RadionBik commented on #1
Thank you for the fast reply.

Okay, I understand that the ndpiReader truncates the class name, but have a look at the class distribution generated by our lib (the bottom part of the file), for example, the detection numbers  for HTTP and  Unknown categories are different.

[2019-10-20 15:13] aouinizied commented on #1
Another time, it's do for printing convenience. When ndpiReader reports these statistics, it simply dumps cumulative hits counter per app_name. (line 1325 in ndpiReader.c)

[code]

 In your provided example, just have a look at Microsoft case (number of flows):
* nfstream output you will have two entries: TLS.Microsoft (2), DNS.Microsoft (1)
* ndpi_ourput: Microsoft (3)

So there is no consistency

[2019-10-20 16:22] aouinizied commented on #1
category added in https://github.com/aouinizied/nfstream/commit/9398348d3b425e4dc7075ccb6eb702651ab663a0

[2019-10-20 16:22] #1 closed

[2019-10-20 20:31] RadionBik opened #2 "provide an abstract Classifier for Streamer __iter__"
Hello!

This is rather a refactor request.

The code works with nDPI, but if an instance of another classifier is required, there is no transparent way to extend the code. At this point, I could override `__iter__` method of `Streamer` in a child class and include a custom classifier to the code you have, so that I could reuse the same Observer instance and to have information about the point at w

[2019-10-20 22:02] aouinizied commented on #2
Hi Radion,

I agree with you on that point. However I need to understand possible use cases behind it.
The reason why I didn't implement it is that I was thinking about nDPI as the most reliable ground truth generator **[1]** and flexible as you can add custom matching rules, custom categories, etc.

So nDPI is more our ground-truth-genrator and we need to implement easy extensions to it (protocol

[2019-10-21 14:17] jsrojas opened #3 "Some pcap files cannot be processed"
Hi again

I was just testing nfstream following the documentation. It works great but for some reason with some pcap files I get the following error:

Traceback (most recent call last):
  File "/home/jsrojas/Juan/Unicauca/Doctorado/PhD Internship/Python Projects/nfstream-test/nfstream-test.py", line 11, in <module>
    for flow in capture_streamer:  # or for flow in my_live_streamer
  File "/usr/l

[2019-10-21 14:23] RadionBik commented on #2
Hi!

I suggest you to take a look at Tomasz Bujlow's PhD thesis, he in details compared various DPIs. That is one of the reasons I used nDPI as the ground-truth provider in https://github.com/RadionBik/ML-based-network-traffic-classifier

I am actually planning to insert an ML classifier that will provide predictions if nDPI fails (e.g. when eSNI is activated). I think this a good research directi

[2019-10-21 17:15] aouinizied commented on #2
https://github.com/aouinizied/nfstream/commit/ba11caeea78b903cbf7f2c8cdf07fdda7e40ec76
I implemented an abstraction for Classifier. Have a look at it.

[2019-10-21 17:19] aouinizied commented on #2
ndpi is default (can be unset) and you can add a list of Classifiers that Inherit from NFStreamClassifier Class.
custom_export field to Flow class. There if Streamer see it as set to True, he knows that it must be exported.
Fin flag will be added too.
Packet_information also will have 'content' field which will pint to raw packet, in that case you can parse it with you favourite lib on Classifier

[2019-10-21 17:30] aouinizied commented on #3
Hi,
It's due to dpkt parsing library.
Have a look at tests repository, there is a future repo that points to cases like you have.
I don't known if we need to open an issue on dpkt. Or we need to investigate on how to parse it correctly.
Try to parse your pcap with dpkt, can you obtain IP level information?

[2019-10-21 17:36] aouinizied commented on #2
Yes just look at packets counters in flow.
For example your extension check flow.src_todst_pkts + flow.src_todst_pkts before doing something.
However you must know that this counters includes packet you are processing in your extension.

[2019-10-21 21:33] aouinizied commented on #2
Fixed and examples provided in documentation.
https://github.com/aouinizied/nfstream/releases/tag/v0.5.0

[2019-10-21 21:33] #2 closed

[2019-10-22 08:27] jsrojas commented on #3
Hi,
I will try check on what is happening with dpkt and get back to you asap.
Meanwhile can you share with me any documentation or understanding that you have about the python bindings please? I do understand the purpose of calling C functions into python code but I have not been able to know how the nDPI process is on the inside (which functions to call, which variables are important?)

So if you

[2019-10-22 09:01] aouinizied commented on #3
Look how we implemented NDPIClassifier: https://github.com/aouinizied/nfstream/blob/master/nfstream/classifier.py

I added some documentation here:
https://nfstream.readthedocs.io/en/latest/tutorials.html#create-your-own-classifier

Mainly for nDPI you will use process_packet or give_up

BR

[2019-10-22 13:23] #3 closed

[2019-10-22 13:24] aouinizied commented on #3
GRE now is parsed correctly. We added a test file for this use case. You can retry with same pcap file. It should work.

[2019-10-22 14:33] jsrojas commented on #3
Hi.

Thank you very much. It is in fact reading the file now, but I have one small observation: I think that something is missing from the flow class because when I try to print the application_name or category_name it tells me that none of the attributes exist, like this:

[code]
I get this:

Traceback (most recent call last):
  File "/home/jsrojas/Juan/Unicauca/Doctorado/PhD Internship/Python Pr

[2019-10-22 14:59] aouinizied commented on #3
Flow class will contain only core metrics strating from next release. I moved ndpi to metrics, you can also find it in classifiers dict under flow. We need to update the doc when released. And change the major version as API broken.

[2019-10-22 15:25] jsrojas commented on #3
Yeah I got later through the flow.classifier dictionary like this:

`print(flow.classifiers['ndpi']['application_name'])`

Thanks a lot.

BR

[2019-10-22 19:49] RadionBik opened #4 "serialization error"
Hello!

Thank you for the improvements you have made!

At this point, I encounter error related with serialization error when `Flow.__str__` method is called for flows with non-serializable metrics  (e.g. custom objects). I suggest replacing json.dumps with str() method to allow printing in such cases.

[2019-10-29 20:28] aouinizied commented on #4
Can you test with master (from source) and confirm it's solved?
Note that API compatibility is broken as we will release 1.0 soon.

[2019-10-31 15:50] #4 closed

[2019-11-22 09:22] RadionBik opened #5 "improvement: JA3"
Hello!

I was wondered how difficult would be to write bindings for extracting JA3 fingerprints (https://github.com/salesforce/ja3), that are already implemented in nDPI. I would be beneficial to use it is as a categorical flow feature for ML classification, for example. Of course, one can calculate on their own, but if already exists in nDPI, why not to use it?

[2019-11-26 02:10] aouinizied commented on #5
Hi Radion,

I made major changes in nfstream architecture.
The aim is to drastically improve performances (multithreading and pypy jit support).
So now nfstream X2 faster using Python and X10 faster using PyPY.
I also added your request (j3a fingerprints) and fixed ndpi application name (now the output is the same as nDPI).
Moreover, major API change as now both metric and models are considered as

[2019-11-26 02:29] #5 closed

[2020-01-18 19:21] jsrojas opened #6 "What is nfstream considering when calculating the size of packets?"
Hello

Just one quick question: When nfstream calculates attributes like  src2dst_bytes or dst2src_bytes what is being considered in the calculation i.e., is it the size of the IP header only or does it have a mixture of the different headers that are created during the encapsulation?

Thanks in advance for the help.

Best regards.

[2020-01-19 01:06] aouinizied commented on #6
Hi Juan,
For src2dst_bytes or dst2src_bytes, the computation is done using the actual lentgh of the packet.
If you want to compute only ip size you can perform it by adding a plugin that will just cumulate len(obs.raw) in place if obs.length (raw field in NFPacket contains the packet starting from IP layer).
BR,
Zied

[2020-01-22 10:44] jsrojas commented on #6
Hello again Dr. Aouini

Thank you very much for your answer. I was comparing some measurements done by nfstream with other tools and there was this minor difference in the packet sizes because most of the tools consider the payload size only. I imagined the reason was going to be something similar to what you answer but I wanted to be sure of it.

BR

[2020-01-22 12:30] aouinizied commented on #6
You're welcome! I keep the issue open until I update the documentation according to that.
Zied

[2020-01-24 14:54] #6 closed

[2020-02-04 13:04] lgcambero opened #7 "Use example?, please."

[2020-02-04 13:19] aouinizied commented on #7
Hi,
@lgcambero
flow_printer example is provided under example directory and more tutorials could be found on the official documentation: https://nfstream.readthedocs.io/en/latest/plugins.html
BR,
Zied

[2020-02-04 13:21] lgcambero commented on #7
Tks.

[2020-02-04 13:21] #7 closed

[2020-02-25 16:00] matthbr opened #8 "Active Timeout"
Hello

Just a quick question. Do I understand it correctly that the active timeout is chopping long flows up into segments of maximal length of the active timeout? And if this is the case why is this done and would it be possible to turn this off?

Thanks in advance for any help.
Best Regards

[2020-02-25 16:45] aouinizied commented on #8
Hi @matthbr,

Yes, your understanding is correct.
Why it is done? it's a standard flow expiration trigger in flow monitoring architecture and is used mainly for long life flow live monitoring use case.

Example:
Let's say that you have a stream (from camera device) that continiously send packets on a unique UDP flow.
If you do not set an active-timeout, you will never see that flow. Active timeout

[2020-02-25 17:25] matthbr commented on #8
Hello Dr. Aouini,
Thanks for the quick reply.

In your example, the active timeout would definitively make sense. In my case I have prerecorded PCAPs in which case I prefer that the long flows are not cut apart.

This means, it would be possible to set the active timeout to a value of several hours?
Based on your documentation I assumed the allowed range for this parameter is only from 15 seconds

[2020-02-25 17:43] aouinizied commented on #8
Hi @matthbr ,

That's true, the documentation range was uncorrect. I removed it from doc (Thanks! :smile:  ).
Active-timeout take any integer as value (if it's negative it will be set to zero).
Consequently, you can set to very large value (in seconds) if you want to turn it off.

BR,
Zied

[2020-02-25 22:00] #8 closed

[2020-03-17 16:30] tanjoreg opened #9 "Pcap to dataframe is taking very long time"
Hi,
Thanks for this fantastic library. I was looking for such a library since long. I am experimenting with this nfstream library but stuck.
I am using the "skype.pcap" available in nfstream/tests/pcap/   folder which is 700kb. I used the following code mentioned in the documentation.

from nfstream import NFStreamer
df = NFStreamer(source="skype.pcap").to_pandas()

Its been more than an hour and

[2020-03-17 16:54] tanjoreg commented on #9
some logs....
There is no error yet..the code is still running...with following log

Exception in thread Thread-4:
Traceback (most recent call last):
  File "/Users/guru/nfstream/nfstream/cache.py", line 136, in consume
    entry = self._roots[obs.root_idx][obs.nfhash].update(obs,
  File "/Users/guru/nfstream/nfstream/cache.py", line 35, in __getitem__
    return super().__getitem__(key)
KeyError:

[2020-03-17 17:50] aouinizied commented on #9
Hi @tanjoreg ,

Thanks for reporting this.

"skype.pcap" is used for all our tests on MacOS and ubuntu.
You can play with skype using the live notebook. Just replace instagram.pcap by skype.pcap

https://mybinder.org/v2/gh/aouinizied/nfstream-tutorials/master?filepath=demo_notebook.ipynb

On which platform are you encountering such issue?
Which version of nfstream?
Did you install it using pip or

[2020-03-17 17:53] tanjoreg commented on #9
Hi Zied, thanks for swift response.
I am on MacOS and cloned it as pip was installing an older version, which didn’t had support for to_pandas().

[2020-03-17 17:56] aouinizied commented on #9
which macOS version?

[2020-03-17 17:58] tanjoreg commented on #9
MacOS Mojave 10.14.5

[2020-03-17 18:00] aouinizied commented on #9
and which nfstream version pip is installing?

[2020-03-17 18:02] tanjoreg commented on #9
pip is installing 3.1.2 and I saw that nfstream is updated and to_pandas() is available in 3.2.2

(tf) ME:~ guru$ pip install nfstream
Collecting nfstream
  Using cached https://files.pythonhosted.org/packages/9c/ca/7ae7e66e26e2827baa4c045e8a849b089ddc1735209e3d49c61fe541ec98/nfstream-3.1.2-cp36-cp36m-macosx_10_13_x86_64.whl
Requirement already satisfied: cffi>=1.13.1 in ./opt/miniconda3/envs/tf/l

[2020-03-17 18:07] aouinizied commented on #9
which is normal as we build wheels only for macos 10.15 and latest.
I will build and publish wheels for macos 10.14 and you will be able to install it using pip.

which instructions did you use to install it from source?

[2020-03-17 18:09] tanjoreg commented on #9
Thanks Zied. Appreciate your help. I just followed the documentation and used the following instructions.

    brew install autoconf automake libtool pkg-config
    git clone https://github.com/aouinizied/nfstream.git
    cd nfstream
    python3 -m pip install -r requirements.txt
    python3 setup.py install

[2020-03-17 18:14] aouinizied commented on #9
Could you try doing the following? (after removing nfstream repo using rm -rf nfstream)

brew install autoconf automake libtool pkg-config
git clone https://github.com/aouinizied/nfstream.git
cd nfstream
python -m pip install --upgrade pip
python3 -m pip install wheel twine setuptools codecov
python3 -m pip install -r requirements.txt
python3 setup.py bdist_wheel

[2020-03-17 18:21] aouinizied commented on #9
and also for pip installation try the following and see if you get the same version.

pip install --no-cache-dir --upgrade nfstream

[2020-03-17 18:22] tanjoreg commented on #9
This worked like charm....now it works....
I just tried with instagram.pcap and it is done in no time. KUDOS to your help.

[2020-03-17 18:25] tanjoreg commented on #9
Yes it is same version 3.1.2

tf) ME:~ ABC$ pip install --no-cache-dir --upgrade nfstream
Collecting nfstream
  Downloading nfstream-3.1.2-cp36-cp36m-macosx_10_13_x86_64.whl (320 kB)
     |████████████████████████████████| 320 kB 398 kB/s
Requirement already satisfied, skipping upgrade: pyzmq>=18.1.1 in ./opt/miniconda3/envs/tf/lib/python3.6/site-packages (from nfstream) (19.0.0)
Requirement alrea

[2020-03-17 18:30] aouinizied commented on #9
Happy to hear that!
I will update documentation with correct instructions list.
Also, i will try to enlarge the platform list for wheels including Mojave.

Zied

[2020-03-17 18:31] tanjoreg commented on #9
But pip still installs 3.1.2 Hope you have noted that.

[2020-03-17 18:55] #9 closed

[2020-03-18 07:03] tanjoreg opened #10 "Timestamp data is changed"
I converted the instagram.pcap to pandas. I observed that the "first_seen", "last_seen" **dates for the first row are SAME** and **rest of the rows are in a different format** (not Unix time). I checked this is behaving correctly in your tutorial.

The following is from my jupyter:
df2 = NFStreamer(source="instagram.pcap").to_pandas()
df2

id | first_seen | last_seen | version | src_port | dst_por

[2020-03-18 08:50] aouinizied commented on #10
I cannot reproduce as I do not have macOS Majave.
nfstream is tested on ubuntu and macos 10.15.

What you reported looks more like a libpcap mis-alignement in structure.
Could you provide us with your pcap.h installed on your machine?

[2020-03-18 09:00] tanjoreg commented on #10
I am upgrading my macOS which will take time.
And I am sorry I am new to this network stuff. can you help me locate that file? In which directory can I find it?

[2020-03-18 12:05] tanjoreg commented on #10
I have upgraded macOS to latest 10.15 (catalina). and tried the following command. Still 3.1.2 is being installed.

MEs-MacBook-Pro:Assignments$ pip install --no-cache-dir --upgrade nfstream
Collecting nfstream
  Downloading https://files.pythonhosted.org/packages/9c/ca/7ae7e66e26e2827baa4c045e8a849b089ddc1735209e3d49c61fe541ec98/nfstream-3.1.2-cp36-cp36m-macosx_10_13_x86_64.whl (320kB)
     |████

[2020-03-18 13:02] aouinizied commented on #10
try with python3.7 which is the default version on macOS catalina and it must work.

[2020-03-18 13:03] tanjoreg commented on #10
You are right...this has something to do with latest macOS and this issue is not relevant in 10.15. when I install 'nfstream' via git clone. I will close this issue.

[2020-03-18 13:04] aouinizied commented on #10
https://pypi.org/project/nfstream/#files

As you can see, we currently publish only one wheel for macOS Catalina on its default python version which is 3.7

[2020-03-18 13:05] aouinizied commented on #10
@tanjoreg
Could you please try to install it using pip and python3.7 just to check that everything is OK.

[2020-03-18 13:21] tanjoreg commented on #10
**Yes this worked.** I was using anaconda, which had python 3.6. I have upgraded anaconda to 3.7.6 and tried to pip install. It installed 3.2.2

(TF) ME-MacBook-Pro:~$ pip install nfstream
Collecting nfstream
  Downloading nfstream-3.2.2-cp37-cp37m-macosx_10_15_x86_64.whl (446 kB)
     |████████████████████████████████| 446 kB 659 kB/s
Requirement already satisfied: pyzmq>=18.1.1 in ./anaconda3/en

[2020-03-18 13:27] aouinizied commented on #10
Thank you for your feedback. Use python3.7 as it's the version used in our CI for macOS.

[2020-03-18 13:27] #10 closed

[2020-03-18 13:29] tanjoreg commented on #10
**Thanks** for your swift reply & support. **Really appreciate, Zied.**

[2020-04-15 15:14] kamakazikamikaze opened #11 "Documentation for adding to the list of supported protocols in deep packet inspection?"
Hi there! I'm currently getting started with using this project. Love it so far. Looking forward to experimenting with plugins.

I have some custom protocols in the traffic that I am analyzing. Deep packet inspection is currently recording these as the wrong `application_name` and `category_name`. What is the proper way to define a custom protocol so that an `NFStreamer` instance will properly cat

[2020-04-15 19:16] aouinizied commented on #11
@kamakazikamikaze depending on the protocol you want to classify, there is several options:

* If your protocol could be identified using currently extracted metadata (SNI, HTTP Useragent, DNS, SSH), then a simple parsing plugin  or a postprocessing refining will do the the trick.

* If it is based on some some information that nDPI stores in its structures, then you can create your plugin and acc

[2020-04-15 20:36] kamakazikamikaze commented on #11
It sounds like using a plugin would be the right way to go, since you mentioned it in each bullet point. I wasn't sure where `nDPI` was executed in the process of analyzing traffic. `NFPlugin` is shown as being between the `NFEntry Cache` and `NFEntry Export Formatting`, so I didn't know if `NFPlugin`s took place before or after `nDPI`.
![image](https://user-images.githubusercontent.com/8862823/79

[2020-04-15 20:49] aouinizied commented on #11
Yes, sounds OK for me.
Just One note regarding how nfstream works:
Every single feature computed in nfstream is an NFPlugin and you can check it in plugins.py file.
So nDPI is also implemented as a Plugin.

Regarding the order, nfstream process its core plugins, nDPI ones and statistitical when enabled.
AFTER, it calls the user defined plugins.

So just keep in mind that when your plugin will be c

[2020-04-15 22:04] kamakazikamikaze commented on #11
Ok, I see that for `NFPlugin.on_init`, I need to return 1 (or non-zero) if a packet matches criteria. For example:

[code]

This works correctly. What I need to do now is change the `entry.application_name` and `entry.category_name`. I have tried changing it in `on_update` and `on_expiration`, like so:

[code]

Neither of these methods worked. I'm guessing this is the wrong way of setting it. What

[2020-04-15 22:39] aouinizied commented on #11
Thank you for reporting this.
I fixed it in last commit. I tested a similar scenario as follows which work.

`class magic_ssl(NFPlugin):
    def on_init(self, pkt):
        return any(port for port in (pkt.src_port, pkt.dst_port) if port == 443)
    def on_expire(self, flow):
        flow.application_name = "magic_ssl.magic_ssl"

flow_streamer = NFStreamer(source=path, plugins=[magic_ssl(volatile=

[2020-04-15 23:00] aouinizied commented on #11
Another full example to your scenario:

Let's suppose that you want to detect a proprietary protocol
The protocol signature is as follow:
* dst_port=6666
* The third packet from dst to src has a size equal to 555
* tansport_protocol is UDP

[code]

Note that for your previous example, it will work even with previous build if you set your plugin as volatile as the issue was for non-volatile plugins

[2020-04-16 22:11] #11 closed

[2020-04-22 22:47] RadionBik opened #12 "max_packets feature"
Hello!

It is great to see how the library has matured over these months!

One thing that is possibly missing is setting max packet limit per flow. I have seen in literature many times how guys evaluated performance of classifiers given limited number of packets per flow. As I understand, there is the `active_timeout` parameter, which can not provide guaranties of capturing sufficient statistics,

[2020-04-23 00:26] aouinizied commented on #12
Hi Radion,

First point is regarding active_timeout, it do not introduce any delay, you can just see it as time based cutter of the flow and it's intended to monitor periodically long life flows.

Regarding the your question, what I understand is that you focus on limited fixed sizes of flows to establish statistics. Indeed, this could be useful for early traffic classification based on only first

[2020-04-24 00:16] #12 closed

[2020-05-10 05:12] andreysfc opened #13 "SystemExit: nDPI error: mismatch in the headers of following structuresndpi_flow_struct"
**Describe the bug**
Try to import one PCAP file.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop (please complete the following information):**
 - OS: GNU/Linux Lubuntu Server 18.04.04 LTS
 - Python version: 3.6
 - Nfstream version: 4.0.1

[2020-05-10 05:32] andreysfc commented on #13
My mistake, I upgraded to the new version 5.0.1 and the error disappear.

[2020-05-10 05:32] #13 closed

[2020-05-18 08:52] Marcuccio opened #14 "ja3_client and ja3_server are not always exported correctly"
**Describe the bug**
The ja3 fields are not always exported.
I double checked the results with [salesforce/ja3](https://github.com/salesforce/ja3). Running the before mentioned tool I manage to retrieve thousands of entries. nfstream with the same pcap doesn't export any ja3_client

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Cap

[2020-05-18 09:00] aouinizied commented on #14
@Marcuccio Thanks for the report. I will check and keep you informed.

[2020-05-18 12:59] aouinizied commented on #14
@Marcuccio I checked using your pcap file example:
* So, indeed using nfstream, j3a_client is filled with Nans.
* nfstream j3a fingerprinting is based on nDPI library.
* Using nDPI demo app: ndpiReader -q -t -i /home/aouinizied/Documents/2017-04-12_win5.pcap -C 2017-04-12_win5.csv produce a csv with j3ac columns filled with Nans too.
* Based on that, nfstream reports correctly the j3a fingerprint

[2020-05-18 13:01] aouinizied commented on #14
So the reason why the output of nDPI is different from the one from j3a lib should be tracked within nDPI. Please report this within nDPI and we will investigate.

[2020-05-18 13:01] #14 closed

[2020-05-19 06:00] geojins opened #15 "nfstream installation issue on Raspberry Pi"
**Newer versions of nfstream not getting installed via pip**
- This issue is occurring on a Raspberry Pi with python 3.7 and pip version 20.1

Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
ERROR: Could not find a version that satisfies the requirement nfstream==5.1.2 (from versions: 0.1.0, 0.2.0, 0.3.0, 0.3.1, 0.4.0, 0.5.0, 1.0.0, 1.0.1, 1.0.2, 1.0.3, 3.1.0)
ERROR: N

[2020-05-20 12:03] aouinizied commented on #15
@geojins Indeed, we do not publish wheels for arm.
Could you try build from source as indicated on the doc (Linux section).
Based on your feedback, We will probably add arm wheels for next release using Travis CI which supports ARM architecture.

[2020-05-20 17:03] geojins commented on #15
@aouinizied , I am able to build from source. Importing NFStreamer failed with following error in my script. But I guess this is something to do with my Os/setup.

If you can publish a wheel for arm, I can try to get a different Pi and test.

[2020-05-20 17:15] aouinizied commented on #15
This is related to pyzmq on Raspberry PI.
https://github.com/zeromq/pyzmq/issues/1323
Treated here.

[2020-05-20 20:13] geojins commented on #15
@aouinizied , thanks. Looks like the behavior is different on diff OS. Would you be able to publish arm wheel in next release? I'll see if I can find couple of OS to verify

[2020-05-22 12:31] aouinizied commented on #15
We released a new version with arm wheels (64 bits)
https://travis-ci.org/github/aouinizied/nfstream
However I think the rpi is using 32 bits and I didn't find an easy way to automate wheels publishing using CI for such architecture. So the best option for RPI remains building from source.

[2020-05-22 12:31] #15 closed

[2020-06-01 12:39] haripriyaharikumar opened #16 "Get packets associated per flow"
How to get the packet (ids) associated with a flow using nfstream?
I would like to dig into the packets associated with each flow.
 For example let's say I would like to get the timestamp associated with the n-th packet in a particular flow. Is it possible with nfstream?

[2020-06-01 17:05] aouinizied commented on #16
Yes, this is achievable using NFPlugins.

[2020-06-01 23:17] haripriyaharikumar commented on #16
you mean with a user-defined NFPlugin or the already existing one? I cannot find any ids which is of the packets in the flow?

[2020-06-02 08:04] naveed981 opened #17 "After Pip install getting error when it is ran in spyder."
Hello I have successfully installed it using pip. It throws me an error when i ran it in my spyder.  I am sharing the error and my code snippet.
![git1](https://user-images.githubusercontent.com/66297551/83495686-79fd8780-a4d1-11ea-9ada-5f85aee93a75.JPG)
![git2](https://user-images.githubusercontent.com/66297551/83495701-7d910e80-a4d1-11ea-95a4-a7b0c899a215.JPG)

[2020-06-02 08:15] aouinizied commented on #17
Windows is not supported yet.
Only MacOS and Linux based systems are supported.

Zied

[2020-06-02 09:27] naveed981 commented on #17
So now I have installed it on my linux machine. Now i am getting some error like NFStreamer as no attribute "to pandas" you can see in screenshots.
![Selection_006](https://user-images.githubusercontent.com/66297551/83503823-1e38fb80-a4dd-11ea-8d02-be2d68423ec3.png)
![Selection_007](https://user-images.githubusercontent.com/66297551/83503824-1f6a2880-a4dd-11ea-95aa-934d10eb8555.png)

[2020-06-02 09:30] aouinizied commented on #17
which version of Python are you using and which of nfstream did you download?

[2020-06-02 09:40] naveed981 commented on #17
I am using python 3.5.2. I have installed it using pip command. pip install nfsteam

[2020-06-02 09:42] aouinizied commented on #17
As stated in the documentation, nfstream is supported for Python version >=3.6.
So, please update to 3.6, 3.7, or 3,8 and rerun your installation to get the last version of nfstream.

[2020-06-03 03:36] haripriyaharikumar commented on #16
Could you please explain how to do it? I am not able to find a solution for this using nfstream.

[2020-06-03 13:29] aouinizied commented on #16
here a simple example of extracting timestamp of the fourth packet:

[code]

Is this what you want to achieve?

[2020-06-03 23:46] haripriyaharikumar commented on #16
Thanks for your reply @aouinizied.
Sorry for the confusion.
Actually I wanted to get the id (indices) of the packets in the original .pcap file associated with a given flow. For example, given NF for the **NFEntry id=3**, what are the packets associated with it from the original .pcap file, let's say **ids_of_packets_ingiven_flow** =[packet_no:7, packet_no:10, packet_no:14]. These indices are the

[2020-06-04 16:58] #17 closed

[2020-06-11 17:53] sunny-r opened #18 "Feature request: application layer data per flow"
Hi,
Would it be possible to add a few methods to the NFEntry object that would give access to all of the application layer data, per direction of a flow?
For example, if a flow contained a HTTP Request and a HTTP Response, it would be cool to run something like `flow.src2dst_application_layer.bytes()` to get the entire request as a byte array.
And conversely, `flow.dst2src_application_layer.bytes(

[2020-06-12 20:45] aouinizied commented on #18
Maybe we could add some additional metadata extraction with response and request parsing results.
Example: flow.http_user_agent, flow.http_content_type, etc.
What do you think about it?

[2020-06-13 08:32] sunny-r commented on #18
That would work well for HTTP, but I was mostly using HTTP as an example - I care about a range of protocols including HTTP, DNS, TLS (certificates, and handshakes), SSH, etc.
I might want to regex scan the payloads for certain text, or extract fields of interest for later analysis.
Wireshark (or tshark) do this well, but the dissection only works against specified ports (so is no good if SSH traf

[2020-06-19 16:41] sunny-r commented on #18
Hi, I think I've made progress using NFPlugin:

    class myplugin(NFPlugin):
        direction0bytes = b''
        direction1bytes = b''

        pkts=[] # temporary array to hold all pkts in flow; just for testing

        def handle_pkt(self,pkt):
            self.pkts.append(pkt)
            d = pkt.direction
            if pkt.payload_size == 0:
                return
            else:

[2020-06-19 18:13] aouinizied commented on #18
Thanks for your feedback.
For payload length difference, it's a bug. (a stupid typo)
https://github.com/aouinizied/nfstream/blob/318251a1fadfbd3c246c74689da69198e17cde51/nfstream/observer.py#L180
I will fix it by replacing transport_size by payload_size. Thanks for the shoot. I doubled checked other attributes and everything seems OK. Next release will patch it.

Regarding, the feature you are wor

[2020-06-20 10:21] sunny-r commented on #18
Hi, thanks for getting that fix in for next release.
I hear you on preferring the nDPI library for performance reasons, but i can only see simple strings extracted into the `client_info` and `server_info` fields, and there's not enough data.

For example, for a pair of DNS packets (one with the DNS question, and the other with DNS response), only the question is captured into `server_info`. None o

[2020-06-23 08:49] Marcuccio commented on #14
Luca Deri, manteiner of nDPI, should have fixed the bug in the library:
https://github.com/ntop/nDPI/issues/906#issuecomment-647487739

Is it possibile to include the fix in nfstream also?

[2020-06-23 14:24] aouinizied commented on #14
@Marcuccio Thanks. It will be automatically included in next release.

[2020-06-24 14:12] naveed981 opened #19 "Less number of rows ( instances ) generated in csv file"
I was using the nfstream data.to_csv function on one of my pcap files. But the instances I am getting is very much less ( rows in csv file).
Is there any way to customize it ?

[2020-06-24 14:22] aouinizied commented on #19
@naveed981 additional details such as code example, python version, pcap files will be useful in order to reproduce and answer your question. Thanks.

[2020-06-26 07:02] naveed981 commented on #19
Python 3.6.9 I am using
I have tried the both ways converted to pandas data frame then convert to csv and with out converting directly as shown in this code.
![git11](https://user-images.githubusercontent.com/66297551/85829712-ac369800-b7a4-11ea-89fc-368eb461e62a.JPG)
![git22](https://user-images.githubusercontent.com/66297551/85829721-b193e280-b7a4-11ea-99c5-130709349109.JPG)

[2020-06-26 08:58] aouinizied commented on #19
And what is the issue? what do you mean by less?

[2020-06-27 06:31] naveed981 commented on #19
@aouinizied by less number I mean the number of rows I am getting in the CSV file. As I am training ML classifier. I am getting only 1600 rows.

[2020-06-27 10:22] sunny-r commented on #18
Bump! Can you give me any pointers on how I can use NDPI to extract more payload information?

[2020-06-29 08:28] aouinizied commented on #19
And what is the expected number? Maybe there is only 1600 flows in your pcap. Which reference are you using?

[2020-06-29 08:30] aouinizied commented on #18
@sunny-r It depends on the use case. for TLS and HTTP I think everything is already extracted in the ndpi_flow_struct. If you have metadata that do not appear there then you need to create a new dissector (nDPI doc explain how) or modify TLS or HTTP existing ones.

[2020-06-29 13:22] sunny-r commented on #18
Alright, I'll have a deeper look at the NDPI docs. In any case, I'll close this thread as I can use NFPlugin to capture the entire payload if I wanted to (though NDPI is faster). Cheers.

[2020-06-29 13:22] #18 closed

[2020-06-29 13:34] aouinizied commented on #18
@sunny-r I will reopen it when I will add more metadata extraction to keep you informed. (Probably the next release)

[2020-07-07 12:36] #19 closed

[2020-07-12 19:12] #16 closed

[2020-07-17 16:37] RadionBik opened #20 "account_ip_padding_size has no effect"
**Describe the bug**
NFpacket's attribute `ip_size_from_header` has the same value as `ip_size`, although pcap analysis via Wireshark shows proper values.

![image](https://user-images.githubusercontent.com/19979628/87809721-86148d00-c864-11ea-94a6-c52eebb0e5b9.png)

**To Reproduce**
Parse possibly any .pcap file with truncated payload. I tested both account_ip_padding_size options.

**Additional

[2020-07-17 16:45] aouinizied commented on #20
@RadionBik thanks for the report. Do you have any pcap trace in order to reproduce? (small one with few packets just to check their headers)

[2020-07-17 16:50] RadionBik commented on #20
Take a look at this one, should be sufficient for testing.
[truncated_test.zip](https://github.com/aouinizied/nfstream/files/4939038/truncated_test.zip)

[2020-07-17 17:47] aouinizied commented on #20
I will illustrate the usage of account_ip_padding_size by a practical example:

* On a TCP packet level, the minimum total size must be equal to 64 bytes (it is not possible to make a valid TCP packet smaller than this size). If a TCP packet is sent without data bytes, its headers will sum up to 40 bytes (i.e., 20 for the TCP layer and 20 for the IP layer). As a result, the packet is zero-padded o

[2020-07-17 18:30] RadionBik commented on #20
Thank you for the explanation, I understand it differs from what I thought it does. As for the Length parameter that is seen on the wireshark screen above, it appears to be extracted from the IP raw packet layer. Do you think it is possible to include this parameter as an (optional) attribute of NFPacket?

[2020-07-18 01:44] aouinizied commented on #20
@RadionBik v5.2.0 introduce API changes as we dropped account_ip_padding_size option.

* Now, you both raw, IP, transport and payload sizes are computed from headers. Consequently, you can use truncated traces without issues for statistical features computation (I tested on CAIDA and MAWI).

If you want to account zeros (account_ip_padding_size), you can use len(pkt.ip_packet) which report the rea

[2020-07-18 01:44] #20 closed

[2020-07-19 22:49] ArtWachowski opened #21 "RAW IP_packet"
Hi,

To break the ice ... Amazing project, I only started to play with NFstream two days ago and already love it! My supervisor got this amazing idea "Hey, why don't you introduce ML to your project" I was crying from happiness ... anyways I have few 'questions'

1)
I need to go deep, like really deep into the packet, so I started to investigate available options like  ip_packet . print and I am g

[2020-07-20 00:16] ArtWachowski commented on #21
... TCPDump is correct ... I mean receives whats send from controller... I think solution to my problem is elsewhere, maybe something to do with actual sockets, just thinking out loud here

Traces for ref,  " keepalives are with  x00\x00\x00\x00\x00\x00\x00' "

NFstream
00:57:59.099446 IP (tos 0x0, ttl 128, id 28013, offset 0, flags [DF], proto TCP (6), length 40)
    192.168.62.132.49741 > 192.16

[2020-07-20 09:23] aouinizied commented on #21
@ArtWachowski Thanks for the feedback.

* 1: You may also use on_init() method to see the first packet of your connection. Note that nfstream show ip_packet content which is the packet content starting from the IP header level. We did such a choice as nfstream is intended for IP monitoring so we consider that most users will not care about L2 layer. In which use case you will need such data?

*2:

[2020-08-05 14:04] aouinizied opened #23 "Device fingerprinting features (wishlist)"
This is the list of some features that could be an input for devive type fingerprinting apps.

### Ethernet
* OUI.
### IP
* Initial TTL.
### ICMP
* Type.
### TCP
* List of options.
* Value of mss, wsale, window.
* Device Delay
### HTTP
* User agent
* Content type
### DHCP
* List of options. (DHCP dissector modification)
* 12, 55, 57, 60, 77, 125
Padding: True/False
### DNS
* query_name, query_type

[2020-08-09 02:28] XDDDDDG opened #24 "System memory problem in some pcap files"
When I use nfstream to process some pcap files, I have some memory problems
The performance is that the system memory continues to rise to a high value, and then it is killed. Processing packages that are much larger than these PCAPs will not cause memory usage problems of this size.
could you give me some suggestions？

[2020-08-10 14:54] aouinizied commented on #24
@XDDDDDG memory usage is directly related to the amount of flow active in the cache.
So it's normal that it's not correlated to the size of the pcap. Example:
* 1 pcap with 1 Terabyte size. containing only 4 flows (let's say 4 huge file transfer).  Despite being a large file, nfstream will treat it as 4 cache entries. (very small memory footprint).
* Second example with 10M packets generated at th

[2020-08-18 13:18] #24 closed

[2020-08-20 09:19] missyoyo opened #25 "How to get MAC address of flow"
Hello:
   May I know how to get NIC MAC Address of flow since I can find any MAC address in NFEntry,Thank you.

[2020-08-20 09:28] missyoyo opened #26 "Performance of nfstream"
hello:
    May I know if we try to default "NFEntry" from network interface,How many packets per second nfstream can support(Do not drop packet). OR is there some way to  increased performance， For example: MMAP、PFring、DPDK?
thank you.

[2020-08-21 09:23] IAMABOY opened #27 "Does nfstream support pcap dump function by ip or port etc."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-27 12:36] drnpkr commented on #25
Hi there!

I think you need to understand here that NFStream is an IP flow measurement tool. The flows are created based on the captured packets (typical 5-tuple). As such, there no information included from the lowest layers.

I hope this provides some clarification for you.

[2020-08-27 12:48] aouinizied commented on #27
@IAMABOY No, nfstream does not support dump feature.

Best regards,
Zied

[2020-08-27 12:48] #27 closed

[2020-08-27 12:51] aouinizied commented on #26
Dropped packets are not reported. The next planned release will provide performance statistics and computation will be distributed across several cores (faster). I will keep this issue open until the next release. You will be able to measure the drop rate on your network.

[2020-08-27 12:56] aouinizied commented on #25
@missyoyo currently layer 2 informations are not available as nfstream is designed to be an IP measurement framework.
@drnpkr Maybe we will add such feature in next release as it can be relevant is several cases (Device Manufacturer, etc.)

BR,
Zied

[2020-09-02 06:21] missyoyo commented on #25
That is very kind if you can add L2 informations, MAC address is a good way to know traffic is outbound or inbound,So we can know bi-direction bandwidth。

[2020-09-02 06:35] missyoyo commented on #26
That is very good if nfstream can use multiple cores.I see nfstream base on libpcap,And libpcap have already add DPDK support with master branch:
[https://github.com/the-tcpdump-group/libpcap/pull/790](url)
I have test tcpdump can dump DPDK interface buy use libpcap support.
I have try to test nfstream with DPDK, by change nfstream git config file(clone libpcap master branch and configure with dpd

[2020-09-04 15:19] aouinizied commented on #26
@missyoyo Thanks for the information.
* We redesigned the metering architecture and this introduces up to *12 speed gain (depending on how traffic is distributed across cores and the number of available cores). This improvement is confirmed both on Pypy and CPython and now the gap between these interpreters decreased as we passed the maximum of computation to native code.
* Regarding libpcap with

[2020-09-05 16:16] missyoyo opened #28 "Can not read packet form linux named pipe"
Hi:
    I am try to read packet form linux named pipe by follow:
1.make a named pipe by command:
mkfifo /tmp/01.pcap
2. Send packet by tcpdump to named pipe by command:
tcpdump -w /tmp/01.pcap
3.try to read packet from pipe by tcpdump test:
# tcpdump -r /tmp/01.pcap
reading from file /tmp/01.pcap, link-type EN10MB (Ethernet)
00:00:23.123099 IP 72.21.81.189.https > localhost.localdomain.35346: Flag

[2020-09-06 15:20] missyoyo commented on #26
@aouinizied Thank you for your update
Here is my try step:
1.Download DPDK and make install to default localtion"/usr/local".
2.Change nfstream libpacp setup.py and add configure opeions "--with-dpdk=/usr/local"
3.Install nfstream form source code.

Here is my error message if usefull:

cannot load library '/usr/local/lib/python3.6/site-packages/nfstream/observer_cc.so': /usr/local/lib/python3.6/s

[2020-09-06 15:36] missyoyo commented on #26
@aouinizied
May I know how to change setup.py use libpcap.so instead of use "libpcap.a"
# compile libpcap and ship it with observer
    # we compile libpcap instead of copying the .so from to ensure 1.9.1 version on both mac OS and Linux
    subprocess.check_call(['git', 'clone',
                           'https://gitee.com/missyoyo/libpcap'])
    os.chdir('libpcap/')
    subprocess.check_call(['

[2020-09-07 16:40] aouinizied commented on #28
@missyoyo as stated by the documentation, NFstream supports only interfaces or pcap file. namedpipe are not supported.
Fill free to implement it and open a Merge Request.

Regards,
Zied

[2020-09-07 16:40] #28 closed

[2020-09-07 16:41] #21 closed

[2020-09-08 09:23] typzzh opened #29 "Does nfstream support windows?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-08 09:27] #29 closed

[2020-09-08 22:48] aouinizied commented on #26
@missyoyo check git blame and you will have it in history as it was the previous method used.
Note that v6.0.1 is released and introduces performance improvement.

[2020-09-08 22:48] #26 closed

[2020-09-09 05:35] missyoyo opened #30 "Does json format output has moved now?"
Hi:
   I am test last release nfstream 6.02, I only see:
    def keys(self):
    def values(self):
from flow.py, can not see
  def to_json(self):
is to_json output has removed now,It is a nice feature,Please keep that if possible. Thank you.

[2020-09-09 16:02] aouinizied commented on #30
@missyoyo You can build a JSON simply by doing the following:

[code]

Zied

[2020-09-10 08:32] missyoyo commented on #30
@aouinizied HI:
    I have test your code and work good. Thank you for your help.

[2020-09-10 10:36] #30 closed

[2020-09-12 11:11] missyoyo opened #31 "Can ouput performance report every 5 minutes"
I see current performance report  output only when program end or exit.
Can nfstream send performance report with intervals, For example: 5 minutes, So we can know  burst traffic or need by more powerfull hardware in time.
If possiable,one sinlge event performance report is perfered(or one json report)
Thank you.

[2020-09-14 03:29] aouinizied commented on #31
Hi,

You must upgrade to version 6.1.0 where we implemented this feature for live capture.

* performance_report=N will print every N seconds performance [**metrics**](https://github.com/nfstream/nfstream/blob/master/assets/PERFORMANCE_REPORT.md).
* To limit drops, you must set n_meters to 0 (default value). Note that processes will consume CPU only when packets are there (No busy-wait anymore).
*

[2020-09-14 03:29] #31 closed

[2020-09-21 15:35] #23 closed

[2020-09-21 15:35] #25 closed

[2020-10-04 07:27] 0eteam opened #32 "Can I get the specific packet data of each stream?"

[2020-10-04 18:32] aouinizied commented on #32
@0eteam this is possible using NFPlugin.

[2020-10-04 23:55] 0eteam commented on #32
Where can I get the appropriate API  to call or case program?Thanks a lot.

[2020-10-05 08:11] drnpkr commented on #32
Try the flow slicer example here: https://www.nfstream.org/docs/api#nfplugin

[2020-10-06 13:50] MainRo commented on #32
in the on_update method of a plugin, you can get the ip payload from the ip_packet field of packet.

[2020-10-07 00:43] 0eteam commented on #32
Now that I've got the packets, how do I sort them by streaming mode?
Is there a feature id in the program？ Or can I only identify it through  (SRC_IP, SRC_port, DST_IP, DST_port, Protocol)?

[2020-10-07 07:54] drnpkr commented on #32
Yes and yes. There is an ID for each flow detected by NFStream. Since NFStream is an IP Flow metering tool, packets are organized into flow entries based on the well-known 5-tuple (source and destination IPs and port numbers, and the protocol) as per your observation. The precise name of these parameters are provided in the API documentation: https://www.nfstream.org/docs/api

If you understand yo

[2020-10-08 11:18] 0eteam commented on #32
In the file of flow.py ,the code "self.id = -1", the id of the packet is also not updated in the NFStreamer.
for example:
init: -1
updata: -1
updata: -1
updata: -1
updata: -1
init: -1

[2020-10-08 11:23] drnpkr commented on #32
Oeteam, I honestly do not understand what you mean by this. No offence, but I cannot read your thoughts. You have to be more specific when describing your problem. You can make a reference to the specific line in the code. The outputs are coming from where? Did you implement flow slicer as a plugin? Did you use a typical example?

[2020-10-08 12:25] 0eteam commented on #32
Limited by my expression and technical level, I am very sorry for not being able to express my thoughts clearly, but I have solved most of the problems. Now I use your model to test my thoughts. Thank you very much for your contribution and help. (^_^)

[2020-10-08 12:27] drnpkr commented on #32
Glad to hear!

[2020-10-08 13:32] aouinizied commented on #32
@0eteam once you are called within a Plugin you are called for each packet within a single flow so no need to check the id of the flow. What you see with -1 values is normal behavior as the identifier is updated later in the driver process to ensure consistency across parallel meters.
I think an example of your code could help us to understand your needs and your use case and give you more help if

[2020-10-08 13:32] #32 closed

[2020-10-14 08:17] missyoyo opened #36 "json output not work in 6.1.3"
Hello:
   I have test json output by nfstream version 6.1.3 and json output seems not work,I have test on Centos 8 and Ubuntu 18.04.
print flow is work
print(flow.values()) output below:
['id', 'expiration_id', 'src_ip', 'src_ip_is_private', 'src_port', 'dst_ip', 'dst_ip_is_private', 'dst_port', 'protocol', 'ip_version', 'vlan_id', 'bidirectional_first_seen_ms', 'bidirectional_last_seen_ms', 'bidi

[2020-10-14 08:29] drnpkr commented on #36
Hey!

Did you try checking the variable types? I mean, try comparing what is the output of the following:

`a = flow.values()`
`b = flow.keys()`
`type(a)`
`type(b)`

And then check the same with your test code.

[2020-10-14 08:46] missyoyo commented on #36
Hi drnpkr:
   I have test both flow.values() and flow.keys() type is str. I have add print() to json.dumps(dict(zip(flow.keys(), flow.values()))) seems get output,
{"id": 7, "expiration_id": 1, "src_ip": "10.10.10.78", "src_ip_is_private": 1, "src_port": 22, "dst_ip": "10.10.10.72", "dst_ip_is_private": 1, "dst_port": 13881, "protocol": 6, "ip_version": 4, "vlan_id": 0, "bidirectional_first_seen_m

[2020-10-14 08:58] drnpkr commented on #36
That's correct. Without `print()` you would not see any output. The same is with `type()`.

I assume you mix using the python interpreter and the code you develop. In the interpreter, you will get the desired output without explicitly printing the variables. In your code, you have to explicitly print the variable out.

[2020-10-14 09:01] missyoyo commented on #36
@drnpkr
Thank you for your help and I also do some performance test and I will open another ticket soon.

[2020-10-14 09:02] #36 closed

[2020-10-14 09:03] aouinizied commented on #36
@missyoyo Glad that it's solved. For performances test, do not hesitate to add detailed description about environment, machine, versions etc.

[2020-10-14 09:17] missyoyo opened #37 "Performance test with version 6.1.3"
Hello:
   I have some performance test with nfstream 6.1.3.My test env is  16 VCPU(Intel(R) Xeon(R) CPU X5670 @ 2.93GHz) with 16GB RAM and NIC is Intel X520 10Gbps
When I try to read pcap form file(RAM disk,Maybe fast), I see nfsteam can support 0.4Mpps(I have change output interval to 1 second).
![图片](https://user-images.githubusercontent.com/19371588/95968297-db4e4380-0e3f-11eb-86cb-22fd337a8808

[2020-10-14 09:19] missyoyo commented on #37
By the way.I am using pypy.

[2020-10-14 09:23] missyoyo commented on #37
With 0.1Mpps send by packet generater I get few packet lost
![图片](https://user-images.githubusercontent.com/19371588/95969826-cc689080-0e41-11eb-8a7c-d8af45b46ff2.png)
![图片](https://user-images.githubusercontent.com/19371588/95969971-fe79f280-0e41-11eb-9e3b-5661575d9bed.png)

[2020-10-14 09:29] aouinizied commented on #37
@missyoyo can you provide full NFStreamers options used and full log of performances (including load_per_meter)?

[2020-10-14 09:31] missyoyo commented on #37
I am use default option
![图片](https://user-images.githubusercontent.com/19371588/95970854-038b7180-0e43-11eb-816f-23042d3d733d.png)
01Mpps full logs:
{"flows_expired": 715, "packets_processed": 65017732, "packets_ignored": 1, "packets_dropped_filtered_by_kernel": 63, "meters_packets_processing_balance": [65017732]}
{"flows_expired": 716, "packets_processed": 65116997, "packets_ignored": 1, "packet

[2020-10-14 09:33] drnpkr commented on #37
please show us what `lscpu` returns to you
also, please show us the output of `ethtool -i <your-nic>`, I assume you did not use the latest ixgbe driver.

[2020-10-14 09:35] drnpkr commented on #37
One additional thing, you mention vCPU, so I suppose, you use some sort of virtualization. Is it VMware? I recommend you set the core mapping properly into your VM.

[2020-10-14 09:36] missyoyo commented on #37
[root@localhost ~]# lscpu
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              16
On-line CPU(s) list: 0-15
Thread(s) per core:  1
Core(s) per socket:  1
Socket(s):           16
NUMA node(s):        2
Vendor ID:           GenuineIntel
CPU family:          6
Model:               44
Model name:          Intel(R) Xeon(R) CPU

[2020-10-14 09:38] aouinizied commented on #37
That's clearer. So I see that only one core is detected.
Can you provide the output of the following code?

[code]

[2020-10-14 09:41] drnpkr commented on #37
OK, so based on the `lscpu` output I see that your VM configuration is not optimal. Set your CPU config like this:

![image](https://user-images.githubusercontent.com/12409729/95971729-dd99a900-0e11-11eb-80a1-4cfadbc4893e.png)

Now if you boot the VM again, and check the `lscpu` command, you shall see 16 cores, instead of 1 single. Then, NFStream should be able to balance the load between more tha

[2020-10-14 09:46] missyoyo commented on #37
![图片](https://user-images.githubusercontent.com/19371588/95972461-0edf9c80-0e45-11eb-97c9-7c217ac5b4fa.png)
Thank you for you help. I will change my config and do more test then update later.

[2020-10-14 09:52] aouinizied commented on #37
so nfstream load balance according to detected PHYSICAL cores on the host. This is done using print(psutil.cpu_count(logical=False)) and as you see only 1 core is currently detected on your setup. This can come from a issue in psutils https://github.com/giampaolo/psutil or from your config.

[2020-10-14 09:54] aouinizied commented on #37
@missyoyo another point is regarding drop by kernel count, it's CUMULATIVE.

This means that this sequence has 0 drops.  Drops can occur at the start time of nfstream and then stabilize at 0.
{"flows_expired": 715, "packets_processed": 65017732, "packets_ignored": 1, "packets_dropped_filtered_by_kernel": 63, "meters_packets_processing_balance": [65017732]}
{"flows_expired": 716, "packets_processed

[2020-10-14 12:58] aouinizied commented on #37
@missyoyo  Here some points you might take into consideration in addition to the above-addressed issue:
* You are using 1 second as the active and inactive timeout and this affects performance. Test with more realistic values.
* You are relying on 1 flow for the test. Even with fanout, this single flow will hit only one process. Use a more realistic testing traffic scenario (More distributed one w

[2020-10-15 06:39] missyoyo commented on #37
HI:
    I have change my vcpu setting and do 4 test,seems still get packet lost(0.1Mpps send)
1.test1,packet lost
![图片](https://user-images.githubusercontent.com/19371588/96085945-2164df00-0ef4-11eb-96c6-9e6b5bb03716.png)

[2020-10-15 06:41] missyoyo commented on #37
2.8vcpu test2,Packet lost
![图片](https://user-images.githubusercontent.com/19371588/96086180-799be100-0ef4-11eb-85e4-1a712ad80602.png)

[2020-10-15 06:42] missyoyo commented on #37
3.sinle flow test with interval to default,packet lost
![图片](https://user-images.githubusercontent.com/19371588/96086257-a223db00-0ef4-11eb-8479-6b3291b97f06.png)

[2020-10-15 06:44] missyoyo commented on #37
4.test 4 with default interval and random flow send,packet lost
![图片](https://user-images.githubusercontent.com/19371588/96086343-c5e72100-0ef4-11eb-8db7-7cae23f2f744.png)

[2020-10-15 07:08] drnpkr commented on #37
Hi missyoyo, did you upgrade the NIC driver?

[2020-10-15 07:14] missyoyo commented on #37
Sorry, I did not, let me try that.

[2020-10-15 07:42] missyoyo commented on #37
@drnpkr
Hi I have update driver to new version(download for intel website),and I also change my vcpu to 6 as my pysical cpu only has 6 core 12 HT(2CPU*6core*2HT).
[root@localhost stream]# modinfo ixgbevf
filename:       /lib/modules/4.18.0-193.19.1.el8_2.x86_64/updates/drivers/net/ethernet/intel/ixgbevf/ixgbevf.ko
version:        4.9.3
license:        GPL
description:    Intel(R) 10 Gigabit Virtua

[2020-10-15 07:46] missyoyo commented on #37
Seems lost packet count not increase,I have a question about how many packet processed.
As first line I got:
"packets_processed": 147375
last line I got:
"packets_processed": 3537360

Is that
(3537360-147375)/24=0.14Mpps?

[2020-10-15 07:54] missyoyo commented on #37
@drnpkr
I aslo have random flow test.
{"flows_expired": 70, "packets_processed": 59017, "packets_ignored": 0, "packets_dropped_filtered_by_kernel": 19174, "meters_packets_processing_balance": [13793, 15140, 15172, 14911, 1]}
{"flows_expired": 196, "packets_processed": 59017, "packets_ignored": 0, "packets_dropped_filtered_by_kernel": 19174, "meters_packets_processing_balance": [13793, 15140, 15172

[2020-10-15 07:59] aouinizied commented on #37
@missyoyo can you Edit your logs adding NFStream options?

[2020-10-15 08:07] aouinizied commented on #37
@missyoyo  if this is your log with a single flow, it means that your active timeout is still at 1s.
total packets processed by nfstream = 3537360 + 12

[code]

[2020-10-15 08:19] missyoyo commented on #37
@aouinizied
yes, I have change to 1s that is esay for calculation，I will change to default and test agin soon
![图片](https://user-images.githubusercontent.com/19371588/96096121-1022cf00-0f02-11eb-99bd-f8679a60013a.png)

[2020-10-15 08:37] aouinizied commented on #37
To be able to help you we must fix these parameters to default ones as I said, and we will change one thing at each step. In other cases, it will be hard to figure out what is not working in your scenario.

[2020-10-15 08:37] missyoyo commented on #37
@aouinizied
I have another test with default interval with single flow, I have run test 12minute in total.
{"flows_expired": 0, "packets_processed": 92027830, "packets_ignored": 0, "packets_dropped_filtered_by_kernel": 3926, "meters_packets_processing_balance": [1, 0, 92027829, 0, 0]}
{"flows_expired": 0, "packets_processed": 92167553, "packets_ignored": 0, "packets_dropped_filtered_by_kernel": 39

[2020-10-15 08:42] aouinizied commented on #37
@missyoyo I see 0 drops. Do you confirm?

[2020-10-15 08:45] missyoyo commented on #37
@aouinizied
nfstream report no packet lost,Maybe I do not think so. I send packet rate 0.14 Mpps, Let me raise packet rate to 3Mpps, Maybe nfstream still report no packet lost.

[2020-10-15 08:48] missyoyo commented on #37
@aouinizied
![图片](https://user-images.githubusercontent.com/19371588/96099785-36e30480-0f06-11eb-9573-07de9d94be78.png)

[2020-10-15 08:49] aouinizied commented on #37
@missyoyo at 3Mpps which MPPS you got from perf logs?

[2020-10-15 08:53] missyoyo commented on #37
@aouinizied
I got:
(1994900-144256)/14/1000000=0.132Mpps
![图片](https://user-images.githubusercontent.com/19371588/96100371-e28c5480-0f06-11eb-8492-55b1ad0df2d0.png)

[2020-10-15 08:57] aouinizied commented on #37
@missyoyo nfstream do not compute drops, it reports only kernel drops as reported by libpcap. We are interested in these drops because they happen when app side does not read the buffer fast enough.
In your case, you have 0 drops which means that nfstream is reading kernel buffers without lost. However, did you checked that your interface is not dropping packets??

[2020-10-15 08:59] aouinizied commented on #37
@missyoyo once again please follow my recommendation when you are reporting your logs (markdown highlighting of JSON instead of screenshots)

[2020-10-15 09:04] missyoyo commented on #37
@aouinizied
Thank you for your explain,I do not thin raw libpcap can support 3Mpps,and NIC seems no packet lost
![图片](https://user-images.githubusercontent.com/19371588/96101638-42cfc600-0f08-11eb-91cb-be99aac6639e.png)
I have 3Mpps random flow test for nfstream, This time I got:
(729685-56353)/17/1000000=0.039Mpps,That is the best result for random flow.(default interval)
![图片](https://user-image

[2020-10-15 09:11] aouinizied commented on #37
@missyoyo
 we are using libpcap with fanout AFPACKETv3 support. And what is weird is that your reported results do not cope with what we usually achieve even on a smaller machine than yours.
Instead of random flows, Can you generate 5 continuous flows and make sure each flow will hit a meter. For example, increment src_port of each generated flow?

[2020-10-15 09:20] missyoyo commented on #37
@aouinizied
My packet genertator is test only. each flow is one way UDP small packet length(64bit min)
Thank you, Maybe I can try that. And it Maybe take some time. will update you later
I laso will use enterprise traffic in the futrue.  the result should more significant.
Thank you again.

[2020-10-15 09:41] aouinizied commented on #37
@missyoyo OK.
Keep in mind these things to help you understand how things works:
* The load balancing (fanout) is done on the Linux kernel side.
*  If your traffic is well distributed: Each meter will handle total_load/n
*  That's how nfstream scale horizontally depending on available cores/cpus.
*  If you want to test correctly how many PPS only, generate n flows and each flow has total_load/n pp

[2020-10-15 09:41] #37 closed

[2020-10-23 06:49] missyoyo commented on #37
Hello,it is me again, I have more test and I thinky may libpcap slow down nfstream.
I have one VM with 24vCPU installed(12*2),RAM 28GB,with X520 VF interface.I think nfstream can use 11 core to procced. So I use 11 flows for test.
I have write a simple program can dump RAW packet to RAM disk with 20s interval and let nfstream to procced these packet file.My dump program is base on DPDK. so can sup

[2020-10-23 12:25] aouinizied commented on #37
@missyoyo
Please upgrade to the last version as I changed how autoscale works.
Here some points you are missing with your scenario:

* When you are using DPDK to dump file and nfstream to read from file. NFStream will scale in an offline mode. This means that it will start n consumers but each consumer will read all packets and process only packets that are matching the consumer id (based on a flo

[2020-10-25 08:33] missyoyo commented on #37
@aouinizied
Thank you for your explaination,I have optimize my program and I have run 1Mpps with file input now with out issue now(TX: 1.00Mpps, 705 Mbit/s , total 1801306017 packets), and packet lost:(1801306017-1,801,288,062)/1801306017=0.00099%.
it can be more higher MPPS, when I get more RAM chache and CPU core.
I have not try 6.2.0 jet.
I will update if I get better results

[2020-11-09 13:51] zu1k opened #39 "When read source from pcap file, `lib.capture_next()` was blocked."
**Describe the bug**

When I traverse all the flows, It never end, and print("END") never be execed.
The source is a botnet dataset, is a pcap file.

[code]

I debug it, found that `lib.capture_next()` was blocked, would never return.
https://github.com/nfstream/nfstream/blob/master/nfstream/meter.py#L212

**Expected behavior**
Stop when all the flows was closed, or timeout.

**Desktop (please com

[2020-11-09 15:50] aouinizied commented on #39
@zu1k Thanks for your report.
It is possible to provide us with the version of NFStream you are using in order to reproduce.

Zied

[2020-11-09 15:54] zu1k commented on #39
Thanks for your reply.
I use the latest release whose version is 6.2.0

[2020-11-10 15:03] aouinizied commented on #39
@zu1k I cannot reproduce your bug. Can you try the following code, please?
In my case, it ends without issue and print 188976 using the same pcap you provided.

[code]

[2020-11-11 04:10] daoxuans opened #40 "Need more examples about online capture"
Hi, can you provide more examples about online capture?
1. How to export to csv or pandas when live capture?
2. How to shutdown the online capture task gracefully？
Thank you.

[2020-11-11 06:55] drnpkr commented on #40
Hey there!

Sure thing. Did you try looking at this example?

https://github.com/nfstream/nfstream/blob/master/examples/csv_generator.py

1. It does export to CSV.
2. You just hit CTRL+C. NFStream will take of the rest.

[2020-11-11 08:20] daoxuans commented on #40
Thanks, i test it in my testbed, two examples passed.
My test case failed when i try export live capture results to pandas, i am not familiar with pandas. this is my code:
`[root@NJNAC examples]# cat csv_generator.py
"""
------------------------------------------------------------------------------------------------------------------------
csv_generator.py
Copyright (C) 2019-20 - NFStream Develope

[2020-11-11 08:31] drnpkr commented on #40
What are you passing in ha?

Also, in the output, you see 0 flows expired. This means that no expiration time has expired since the start of the live packet capture (flow generation). Therefore, you have 0 flows in total_flows.

[2020-11-11 08:46] daoxuans commented on #40
1. 'ha' is my eth interface.
![ha](https://user-images.githubusercontent.com/6179315/98788924-800e7180-243c-11eb-8575-f0b863b5780c.PNG)

2. Thank you for your reminder, i have to stop after the session timeout statistics.
![correct](https://user-images.githubusercontent.com/6179315/98789276-0c209900-243d-11eb-99c6-ab300cac476b.PNG)

3. The last question is ‘Session ends only because of timeout’, c

[2020-11-11 09:17] drnpkr commented on #40
I do not entirely understand your question.

TCP FIN/RST flag is handled correctly in NFStream. If there is one such a packet, it will be recorded. If there are no more packets observed in the flow after a FIN or RST, the timeout will expire the flow and it will be removed from the flow cache.

In TCP, normally you would have an internal timer for session termination. We do not implement such an i

[2020-11-11 09:34] daoxuans commented on #40
1. From the perspective of reducing overhead, the session can be released immediately after FIN. however, using unified timeout detection mechanism  can simplify processing. so i agree with this solution.
2. There are two parameter explanations that need to be checked.
  ![limit](https://user-images.githubusercontent.com/6179315/98793931-7a685a00-2443-11eb-94d2-e2af71a80672.PNG)
- This is used to

[2020-11-11 09:47] drnpkr commented on #40
In my interpretation active timeout is primarily for providing near real-time measurement. If a flow duration is half an hour, the measurement data would be analysed after this flow has expired by passive timeout. To make things timely, there is an active timeout. So despite there are still packets observed for the flow, its data will be expired and exported for analysis (visualisation, etc.).

n_

[2020-11-11 10:34] zu1k commented on #39
Thanks for your work, I found it's my fault, now problem was solved.

The problem is `udps=FlowSlicer()` here, the internal processing is blocked.

[2020-11-11 10:34] #39 closed

[2020-11-11 11:29] daoxuans commented on #40
Thanks for your explanation

[2020-11-11 12:04] #40 closed

[2020-11-13 09:07] daoxuans opened #41 "Performance Optimization Guidelines"
Can you give some examples of performance optimization？I read the previous issues, but still can't get a suitable answer.
Ref link:
[https://github.com/nfstream/nfstream/issues/37](url)
[https://github.com/nfstream/nfstream/issues/26](url)

So, a guidelines document is best.

[2020-11-14 10:45] adamjanovsky opened #42 "BPF filter works only in file capture mode"
Hi,

I'm not certain whether this is a desired behaviour or not, but at the moment my attempts to provide BPF filter (according to syntax at https://biot.com/capstats/bpf.html) for live capture have failed with error `ERROR: Unable to compile BPF filter.`

When run on a file, the filter behaves correctly. See the following working example:

[code]

Reproducing an issue can be done simply by changi

[2020-11-14 23:40] aouinizied commented on #42
Hi Adam,

Thanks for your report. BPF filtering must work on both live and offline features.
I fixed the issue you encountered on live capture, will be released within v6.2.3.

If you need some help on NFPlugins part, do not hesitate to fill a new issue and we can help you based on your use case.

Zied

[2020-11-15 02:36] aouinizied commented on #42
@adamjanovsky upgrade to v6.2.3 and your issue will be fixed. Do you confirm?
[code]

[2020-11-15 11:20] adamjanovsky commented on #42
works like a charm, thanks a lot for resolving! Feel free to close.

[2020-11-15 13:08] #42 closed

[2020-11-18 11:57] adamjanovsky opened #43 "to_csv() function does not accept Path object, only str"
**Describe the bug**

As of version 6.2.3, the `NFStream` function `to_csv()` accepts path as the input attribute. Unfortunately, a string type must be passed for the function to properly work. I would expect the that the function will be able to work with the type `Path` from pathlib or os modules.

**To Reproduce**
Steps to reproduce the behavior:

1. Start capture
2. Attempt to save the results

[2020-11-18 14:05] tirkarthi commented on #43
Using `os.fspath` is a better option : https://docs.python.org/3/library/os.html#os.fspath

[2020-11-19 14:05] adamjanovsky opened #44 "to_csv() function broken when 0 flows in Streamer object"
**Describe the bug**

The `NFStreamer` function `to_csv()` results into exception, when there are no flows in the streamer iterator. Consequently, this also breaks `to_pandas()` function.

The issue is caused because the file is opened (and header crafter) only if the streamer has some flows to iterate over. See [streamer.py -- line 330](https://github.com/nfstream/nfstream/blob/master/nfstream/st

[2020-11-22 12:57] aouinizied commented on #44
Fixed in https://github.com/nfstream/nfstream/commit/f61f5e1885aa2ffcce2f18bd74da069952a318da.

If there are no flows, the file is not created.
If there are no flows, Dataframe is None.

Zied

[2020-11-22 12:57] #44 closed

[2020-11-22 12:58] aouinizied commented on #43
Fixed in https://github.com/nfstream/nfstream/commit/f61f5e1885aa2ffcce2f18bd74da069952a318da bu switching to fspath.

Zied

[2020-11-22 12:58] #43 closed

[2020-11-24 06:45] akshaykaushik82 opened #45 "Nfstream"

[2020-11-24 11:18] #45 closed

[2020-11-25 13:26] gjvc opened #46 "query / feature request: open gzip and bz2 files directly"
Hello,

First of all, thank you for your efforts on this project -- it looks very promising indeed for my scenario, especially so with the compatibility with Pypy, which will really enable what I have in mind.

I have many thousands of .pcap files stored in BZIP2 format covering a few years (filenames being source-date.pcap.bz2, quite predictably :-))

I would like to be able to open them and pars

[2020-11-25 15:40] aouinizied commented on #46
@gjvc Hi George,

This is definitively a nice feature to have. Feel free to open a PR and we will be here if you need help.

Some points to keep in mind:
* Once implemented, make sure to add a test file and a test function in tests.py and CI will run the tests on Linux, Macos, arm with several Python versions.
* I guess your change will be on two sides: Streamer.py to allow such parameter format a

[2021-01-03 18:24] SoerenBusse opened #48 "Throw exception when setup capture fails"
**Describe the bug**
When running NFStreamer with a file of zero bytes, it obviously fails and prints an error in the console:
`ERROR: Unable to open source /tmp/9ed4597f-3308-4d79-9486-8efcbb6ef3d3_test9mb.pcap: truncated dump file; tried to read 4 file header bytes, only got 0`

However it doesn't throw an exception and silently fails. We're using NFStreamer in an automated, unattended setup for

[2021-01-13 14:24] aouinizied commented on #48
@SoerenBusse Thanks for reporting.
Indeed this must be changed for your use case and for all possible errors that happen in the child processes scope.
The child processes (meters) must communicate the error to the parent one (streamer) and exception must be thrown at the parent level. This will allow you to catch it and to perform whatever actions you want.
Will work on it and inform you when a pa

[2021-01-30 10:51] yusuf81 opened #49 "bpf filter with not operand didn't work"
**Describe the bug**
bpf filter does not work when using the not operand. either it use "!" or "not".

**To Reproduce**
Steps to reproduce the behavior:
df1 = NFStreamer(source="sample-20210129.pcap",bpf_filter="dst 10.23.2.1") --> this work
df1 = NFStreamer(source="sample-20210129.pcap",bpf_filter="! dst 10.23.2.1") --> this didn't work
df1 = NFStreamer(source="sample-20210129.pcap",bpf_filter="n

[2021-02-01 16:43] aouinizied commented on #46
@gjvc Any update regarding this feature?

[2021-02-02 18:06] sunny-r opened #51 "Big difference between flows generated via live capture vs pcap file"
Hello

I'm not sure why I'm seeing such a big difference in my results. I'm not using a bpf filter.

I kick off a tcpdump process to generate a pcap file off my ethernet interface:
`sudo /usr/sbin/tcpdump -i eno2 -nN -s0 -Z myusername -U -C 2048 -w capture.pcap`

At the same time, in a python interpreter shell instantiated with `sudo python3`, I run this:
`streamer = nfstream.NFStreamer(source="en

[2021-02-03 21:32] drnpkr commented on #51
Hi @sunny-r,

I suspect your two competing processes try to access the same source that eventually results in an odd case where one of them simply cannot observe the packets (in simple words).

Packet capture without loss on high-speed links on commodity hardware is a critical task that could be affected by several factors such as another resource-demanding process. What is the throughput of the l

[2021-02-03 23:09] sunny-r commented on #51
Hi @drnpkr,

So I'm pretty sure this isn't a hardware issue - I still get this issue when only running nfstream-live. I only ran parallel captures to confirm that tcpdump/libpcap was seeing packets that nfstream wasn't.

I thought I'd also test out live captures on my mini PC, and my laptop - same issue.

I uninstalled nfstream and grabbed an old version:
`sudo pip3 install nfstream==6.0.0`

And t

[2021-02-03 23:31] sunny-r commented on #51
Hi @drnpkr

I've been doing a bit more testing; I think nfstream live capture was fine at 6.0.5, but not at 6.1.0 onwards.

[2021-02-04 20:13] drnpkr commented on #51
Hi @sunny-r

This is behaviour is very strange.

Could you please flick me an email so we can schedule a call to have a look at this in more detail?

[2021-02-05 09:44] sunny-r commented on #51
Sure thing, what email address can I reach you on?

I'm not sure how helpful I'll be - I don't understand the inner workings of the nfstream-livecapture. I'm only specifying `source="eno2"` as my argument to `NFStream` and I still see the same behaviour.

Have you compared live capturing using an old version of nfstream with the newest? Have you been able to replicate this?

[2021-02-08 10:16] drnpkr commented on #51
Hi @sunny-r,

sorry for the radio silence, my email is apekar[at]hit[dot]bme[dot]hu

[2021-02-11 17:23] mluethi opened #53 "Flow payload"
Hello!

I'm looking for a way to get the payload of the flow for further analysis.
By payload I mean all data except TCP/UDP headers.

I image something like:

`my_streamer = NFStreamer(source="facebook.pcap", ... export_flow_size=256, ...)`

`NFlow` should get a new attribute `flow_data: bytes` with the data (if `export_flow_size is > 0`) or `None` otherwise.

Thanks for your help!
Regards,
Marce

[2021-02-12 09:31] aouinizied commented on #51
@sunny-r This is normal behavior (implementation choice). I will try to explain how things work:
* Offline Mode: This is the case when you start NFStream on the pcap generated by tcpdump.
* Online Mode: This the live capture use case.

The difference you see is due to the fact that when there is a Keyboard interrupt and you are in live mode, NFStream shutdown without flushing the flows that are re

[2021-02-12 09:50] aouinizied commented on #53
Hi,

You can access the payload of each packet belonging to a flow within a Plugin. When your Plugin is called per flow, NFPacket has an attribute 'ip_packet' containing the payload and you can use it whatever you want to create a new flow attribute.

See the Plugins repository in order to have an idea of how to write a Plugin.

Zied

[2021-02-12 16:43] mluethi commented on #53
Great! Thanks for the answer!

So that means I get the payload like this: `packet.ip_packet[-packet.payload_size:]` in a NFPlugin?
**That works!** But of course only for one-packet flows...

If the flow is consists of more than one packet, I would have to do something like this?

[code]

Correct?
I don't have to do anything in `on_expire`?

Thanks a lot for your help!
I'm already looking a long ti

[2021-02-12 18:43] #51 closed

[2021-02-15 13:06] mluethi opened #54 "Support for pcapng format"
Hi!

I'd be glad to see support for the PCAPNG format.
AFAIK nDPI is able to process PCAPNG.

So probably only this change is required:

[code]

Thanks a lot for your support!

Regards,
Marcel

[2021-02-19 14:21] aouinizied commented on #49
@yusuf81 Thanks for reporting, can you attach the pcap file used for your use case?

[2021-02-19 14:22] aouinizied commented on #54
Thanks, now implemented and will be part of the next release.

Zied

[2021-02-19 14:46] aouinizied commented on #53
@mluethi you are missing the first packet if it contains a payload. Do not forget that on_init is called with the first packet and on_update is called for the rest of the packets belonging to the flow. In your use case, no need for an on_expire indeed.

[code]

[2021-02-19 15:00] aouinizied commented on #49
It's working on my case with the following code.

[code]

[2021-02-19 15:01] #49 closed

[2021-02-19 15:01] #54 closed

[2021-02-19 15:01] #53 closed

[2021-03-04 06:56] Haris1904 opened #55 "ValueError: cannot find context for 'fork'"
**Describe the bug**
ValueError: cannot find context for 'fork'

**To Reproduce**
Steps to reproduce the behavior:
1. Install NFStream
2. Download Dataset
3. Run given code
4. See error

**Expected behavior**
Expected a CSV file with flows

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windows
 - Python

[2021-03-04 07:03] drnpkr commented on #55
Hi @Haris1904,

NFStream is currently supported on major Linux distributions, macOS and ARM (64bits) based platforms. While you might be able to install NFStream in Python (as I document in your bug issue), it depends on libraries that might not be supported in Windows.

[2021-03-05 02:40] neyney10 opened #56 "Cannot run from source, function name changed in nDPI, `ndpi_finalize_initalization` not found"
## Bug Description
Cannot longer run from sources (although it does compile) because of the function `ndpi_finalize_initalization` is missing.
Which is used in `engine_cc.c` in function `dissector_configure`.

## Reason for the problem
There was a typo in the function name and it got changed around 10 days ago in nDPI.
see: https://github.com/ntop/nDPI/commit/fc3db8f1691e913b03ca88a47770c5abf3104e

[2021-03-08 18:31] aouinizied commented on #56
@neyney10 Thanks for reporting. It was due to both this API change + several updates in nDPI structures. Fixed in https://github.com/nfstream/nfstream/commit/3c64e0ff55e0f3f0742bfee082eee37dcbd4c871

Zied

[2021-03-08 18:31] #56 closed

[2021-03-08 18:34] aouinizied commented on #55
@Haris1904 NFStream is supported and tested on Linux and macOS. Windows support in a long-term plan. Do not hesitate to contribute if you use Windows platform (Mainly compiling the engine of NFStream which is C based and its dependencies).

Regards,
Zied

[2021-03-08 18:34] #55 closed

[2021-03-09 14:33] 01abdullah opened #57 "Tests fail empty suite"
"C:\Program Files\python.exe" "C:\Program Files\JetBrains\PyCharm Community Edition 2020.2.1\plugins\python-ce\helpers\pycharm\_jb_unittest_runner.py" --path "C:/Users/SRGW7506/Desktop/Masters/Project code/nfstream-master/tests.py"
Testing started at 16:30 ...
Launching unittests with arguments python -m unittest C:/Users/SRGW7506/Desktop/Masters/Project code/nfstream-master/tests.py in C:\Users\S

[2021-03-11 13:23] 01abdullah commented on #57
I'm sorry as I'm new to this but I have installed ubuntu and setup all packages and modules but BPFilter test fails

Process Process-1:
Traceback (most recent call last):
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/a

[2021-03-11 13:38] aouinizied commented on #57
How did you install NFStream?

Seems that you are using it from source without following buildings steps from the documentation.

Simplest way is to use
[code]

[2021-03-11 13:46] drnpkr commented on #57
@01abdullah, the test will fail unless you build the project from the source. I presume that you are not going to develop/extend NFStream and that you want to use it. In such a case you do not need to run the tests.

Using the command above you will install the library. Then you have several options, for example:

- you can process a PCAP file and organize its packets into flows
- you can listen t

[2021-03-11 18:12] 01abdullah commented on #57
Hello Zied & Adrian,
Thank you so much for your efforts and support really appreciable.

I have already installed nfstream as below:
~$  pip install nfstream
Requirement already satisfied: nfstream in ./.local/lib/python3.8/site-packages (6.2.5)
Requirement already satisfied: dpkt>=1.9.4 in ./.local/lib/python3.8/site-packages (from nfstream) (1.9.5)
Requirement already satisfied: numpy<=1.18.5 in

[2021-03-11 18:43] aouinizied commented on #57
You have some misconfiguration in your environnement because I see that your script is loading **/home/abdullah/Downloads/nfstream-master/nfstream/init.py** so mainly loading nfstream that you cloned and not the nfstream package installed using pip.

The simplest way is to use a virtual environement, the following steps must fix your issue.

[code]

Note that steps (1) and (2) are done only once.

[2021-03-15 13:42] #57 closed

[2021-03-25 08:37] zambery opened #59 "NFPlugin and active_timeout"
Hello!

I'm doing a plugin to get the payload from a pcap. And I set the `active_timeout=3600` when I read the pcap, because of this I got 8 flows from it.

But the pcap actually has 5 flows, and I don't know how to use the parameter `active_timeout=3600` in the plugin, so I can get 8 flows' payload.

Because the number of flows obtained in the plugin does not match the number of flows obtained by

[2021-03-25 19:39] aouinizied commented on #59
@zambery I'm not sure I'm understanding your issue. Active timeout is a parameter of your Streamer.
Whatever you start a streamer with plugins or not, you will have the same flow count.
Can you share your plugin source code and your pcap in order to address your issue. From the traces I see, it's more related to csv to pandas conversion more than active timeout.

Zied

[2021-03-26 00:22] zambery commented on #59
I find I was wrong. As you say, it's the problem of csv to pandas. Thanks for your help.

[2021-03-26 00:22] #59 closed

[2021-03-30 09:31] winterqz opened #60 "Excessive memory usage"
**Describe the bug**
I use nfstream to monitor network interface,after longtime running,it used to much memory.

**To Reproduce**
the following is my params
[code]
I tried to change the params `idle_timeout` . However,the larger the number, the more memory is used. When i set `1`,the memory-usage won't increased.

**Expected behavior**
I know the meaning of this parameter.
When i set it to a large

[2021-04-07 12:53] aouinizied commented on #60
@winterqz can you activate performance_report=1 and share it with us to check the load you are processing?

[2021-04-07 13:16] winterqz commented on #60
thanks, i will take your suggestion and show you the result.

[2021-04-08 12:04] #41 closed

[2021-04-08 12:05] aouinizied commented on #46
Closed for inactivity, Feel free to reopen it.

[2021-04-08 12:05] #46 closed

[2021-04-13 00:17] aouinizied commented on #48
@SoerenBusse Patch implemented. Now NFStreamer will raise ValueError exception for this use case. (included in next release)

[2021-04-13 14:34] #48 closed

[2021-04-13 14:34] aouinizied commented on #60
@winterqz Any updates?

[2021-04-13 14:49] winterqz commented on #60
I set `active_timeout=600` and show the usage of memory by the following picture
![JZ}U9M(D5AK1H7A KF3S$XC](https://user-images.githubusercontent.com/49815962/114571885-9483be00-9ca9-11eb-9319-650a38a0189a.png)
I think I got the result I wanted and your suggestion gave me some details about data flow,thanks again.

[2021-04-13 14:49] #60 closed

[2021-04-22 11:02] SoerenBusse opened #61 "Update numpy dependency"
**Describe the bug**
Hey there,

nfstream requires numpy <= 1.18.5, which breaks some other dependencies like tensorflow, which requires at least version 1.19.2.

Is there a reason why nfstream is relying on an old nfstream version? In our quick test it seems to works absolutely fine with 1.20.2. Would it be possible to update the dependency?

[2021-04-22 14:51] aouinizied commented on #61
@SoerenBusse  Numpy released a version (don't remember exactly the version number) that had issues running using Pypy3. In order to fix it we forced numpy version in NFStream requirements. As now I see that such an issue is fixed. We are able to update it (https://github.com/nfstream/nfstream/commit/cf0b7a1c80195a2a7278fcaf28d2680664964d75). I will release a patch that includes updated requirement

[2021-04-22 19:14] aouinizied commented on #61
Fixed and released in v6.3.1.

Zied

[2021-04-22 19:14] #61 closed

[2021-05-13 12:23] MatteoManzoni opened #64 "Multiple capture interface support"
**Describe the bug**
Trying to initialize multiple nfstreamer fails, making it impossible to capture traffic from multiple NICs

**To Reproduce**
Steps to reproduce the behavior:
1. Try to spawn multiple nfstream processes, on for each interface
2. One or more NFStreamer will crash

**Expected behavior**
Creating separated nfstream processes for each interface works correctly

**Screenshots**
![Sc

[2021-05-17 13:09] aouinizied commented on #64
@MatteoManzoni Can you share a simple script that you use to spawn captures in order to reproduce?

[2021-05-17 14:52] MatteoManzoni commented on #64
Hi @aouinizied, here's a snippet:
[code]

All the dynamic rule matching is custom but the core and I think the problem is in the NFStreamer creation inside a thread (function `flowing_thread`)

Let me know if I can help in any other way,
Matteo

[2021-05-19 10:30] MatteoManzoni commented on #64
Hi @aouinizied, have you been able to reproduce the problem?

[2021-05-25 14:52] Lyonid commented on #64
Hi, I have the same issue in a similar environment. Any help or update would be appreciated.

[2021-05-27 11:12] aouinizied commented on #64
@MatteoManzoni @Lyonid yes. When you start a streamer on Linux, kernel will be activated to load balance packets across several meters (child process of the streamer). I guess when using threading there is some conflicts that appears in your code.
I will investigate it. The ideal would be to support multiple capture source in the API and hide this complexity to the final user.
A quick fix for your

[2021-05-27 11:16] MatteoManzoni commented on #64
Thank you @aouinizied! I've already tried with multiprocessing but without any success. Even spawning 2 separate NFStream instance in 2 different container (Sharing the same kernel namespace, they are in the same kubernetes pod) causes the problem.

[2021-06-10 16:15] aouinizied commented on #64
@MatteoManzoni @Lyonid Could you please upgrade to lastest version 6.3.2 and confirm if the issue is resolved. On my side, it is fixed.

[2021-06-11 13:55] #64 closed

[2021-07-20 09:33] jeevan-thapa opened #67 "`packet.transport_size` returns 64206 only"
**The transport_size attribute does not give the length of the transport layer but a constant value 64206**

**Code I ran**
[code]

**Output***
Raw Size: 1518, IP Size: 1500, Transport Size: 64206, Payload Size: 1448
Raw Size: 70, IP Size: 52, Transport Size: 64206, Payload Size: 0
Raw Size: 70, IP Size: 52, Transport Size: 64206, Payload Size: 0
Raw Size: 470, IP Size: 452, Transport Size: 64206,

[2021-07-22 11:52] aouinizied commented on #67
Nice catch and I'm able to reproduce it. We will release a patch to fix this issue.

Thanks!

[2021-07-22 13:41] aouinizied commented on #67
Fixed in this commit https://github.com/nfstream/nfstream/commit/ce14f506e447d865deb1e6afdd5c1148e2da464e

[2021-08-08 04:54] SugiuraAyano opened #68 "build files can not install for arm arch"
**Describe the bug**
Can't run the code as expected

**To Reproduce**
Steps to reproduce the behavior:
1. create a python code which have from nfstream import something
2. See error

**Expected behavior**
Run Code

**Desktop (please complete the following information):**
 - OS: Debian 10 (Windows WSL2)
 - Python version: 3.9.6
 - NFStream version: 6.3.3

**Additional context**
[code]

The code is

[2021-08-08 05:00] SugiuraAyano commented on #68
same issue on Windows

[2021-08-09 07:08] drnpkr commented on #68
Hi @SugiuraAyano,

That's weird since the code is running as expected in my test environment. Did you install properly nfstream through pip?

NFStream currently does not support Windows (see the documentation).

[2021-08-10 06:15] SugiuraAyano commented on #68
Hello @drnpkr Thanks for your replying

I'm having two question right now

First is, Windows subsystem Linux isn't work too?

Second is,
I'm building nfstream in raspberry pi 3B (cause pip can't install the newest version only for 3.1.0)
and i ran the program it said no module name nfstream.
have ways to install my build nfstream?
sorry i'm new in programing

[2021-08-10 06:34] SugiuraAyano commented on #68
I've been try the dist one but it said not supported
![image](https://user-images.githubusercontent.com/44806508/128819387-a4b659cc-1a9b-4d72-9756-bbb660456a7b.png)
![image](https://user-images.githubusercontent.com/44806508/128819394-0ccfade9-3eee-40cc-bb90-06a26f42eb7c.png)

[2021-08-10 11:43] drnpkr commented on #68
I am confused. You run Windows on Pi 3? Probably not. The problem with your installation is that your architecture is not supported for installation using wheel.

You can install NFStream from source: https://www.nfstream.org/docs/

I have not tested Bash shell on Windows so I am not familiar how the subsystem is integrated into Windows and how are the dependencies satisfied. I would not expect th

[2021-08-10 19:00] SugiuraAyano commented on #68
sorry for the confusion, I'm running raspberry pi os on Pi 3.

I'm already follow the doc and build from source but the whl file said it is not supported

[2021-08-10 21:25] MainRo opened #69 "no live capture on macos X"
**Describe the bug**
A live streamer created on macOS X does not return any flow.

**To Reproduce**
for f in NFStreamer(source="en1", promiscuous_mode=False):
    print(f)

**Expected behavior**
en1 is the wifi interface. The streamer never returns a flow. Promiscuous mode to true or false does not change the behavior.
The streamer works well on a local file (pcap).

**Desktop (please complete the

[2021-08-11 07:36] drnpkr commented on #68
Just to make sure I understand your problem correctly, did you follow the procedure from the beginning to the end?

So, you installed linux prerequisites, built dependencies from source (libgpg-error, libgcrypt, libpcap, and nDPI), and then, tried installing nfstream via pip?

[2021-08-11 15:54] SugiuraAyano commented on #68
I follow the prerequisites, then build nfstream, then install build version via pip but fails

[2021-08-11 22:04] MainRo commented on #69
I waited for at least 5 minutes, and doing some traffic. Still, no flow appear.
Also when I do a local capture from Wireshark and try to read it, nfstream also does not return any flow. However, reading some the test pcaps of nfstream works (It tried some of them).

[2021-08-13 03:48] Arri opened #70 "Running on Raspberry Pi 4: Error with "dissector""
**Describe the bug**
I installed NFStream on a Raspberry Pi 4 following the instructions "Building NFStream from sources" on https://www.nfstream.org/docs/ (no pip install ). All works fine (just for nDPI I had to install some more libraries, which are mentioned following the given link), besides:
My issue is that I only get results if I set **n_dissections=0**. If **n_dissections** is set to anot

[2021-08-13 06:59] SugiuraAyano opened #71 "ImportError: cannot import name NFStreamer from nfstream"
**Describe the bug**
can not import the module

**To Reproduce**
Steps to reproduce the behavior:
1. Use the csv_generator.py in example
2. Run the code
3. Error occur

**Expected behavior**
generates the csv file

**Screenshots**
![image](https://user-images.githubusercontent.com/44806508/129316731-51684bf2-72f6-4b47-afbb-0dae476065a5.png)

**Desktop (please complete the following information):**

[2021-08-13 08:48] aouinizied commented on #71
@SugiuraAyano Can you please rename your script to another name than the module name (nfstream.py to nfstream_example.py) and retry?

[2021-08-13 09:19] SugiuraAyano commented on #71
sorry i'm dumb this fix the problem.
will close this issue now.

[2021-08-13 09:19] #71 closed

[2021-08-13 20:15] MainRo commented on #69
Some update:
running in sudo with promiscuous. Testing in ipython seems to work. However in a notebook it looks like the capture stops after few seconds (I see that the promisc flag disappears on the interface).
I will investigate further, I do not see why the behavior would be different between ipython and a notebook.

[2021-08-13 21:20] MainRo commented on #69
It seems there is somthing wrong with the ffi bindings:
With traces, I see that I never get out of here:
https://github.com/nfstream/nfstream/blob/master/nfstream/meter.py#L109

And after that the python interpreter is still alive, but as a zombie (z+ flag):
root             40632   0,0  0,0        0      0 s003  Z+   11:15     0:00.00 (python3.7)

[2021-08-20 06:25] SugiuraAyano commented on #68
Update: I reinstall the os and follow the instruction again, and i failed on nDPI build
![image](https://user-images.githubusercontent.com/44806508/130189406-9ef41a11-7767-4747-b771-909a8f50d98b.png)
seems need to add one more dependency json-c

[2021-08-20 07:02] SugiuraAyano commented on #68
After some search i found why i can't install package.
You must edit the build filename, rename the manylinux_armv7l to linux_armv7l
Will close this issue now.

[2021-08-20 07:02] #68 closed

[2021-08-20 07:03] SugiuraAyano commented on #68
reference: https://stackoverflow.com/questions/28107123/cannot-install-numpy-from-wheel-format?rq=1

[2021-08-25 13:01] frkn4129 opened #72 "cant online capturing"
hello,
why am i getting this error
![Screenshot from 2021-08-25 16-01-13](https://user-images.githubusercontent.com/89160550/130795132-272d0aa5-c98d-4b59-b54a-c1a03bfcde0a.png)

![Screenshot from 2021-08-25 15-57-01](https://user-images.githubusercontent.com/89160550/130795156-093e8b9c-2179-487c-b2e7-bab179ca5ae5.png)

[2021-09-01 13:53] aouinizied commented on #70
@Arri  this is fixed in https://github.com/nfstream/nfstream/commit/a15e3fb44e586dc092ef7ed6a4637faec2bf9013. Can you confirm?

[2021-09-01 15:10] aouinizied commented on #69
@MainRo Could you please try building from source and test on all test pcaps (using python tests.py) before starting a live capture?

[2021-09-02 13:15] #70 closed

[2021-09-02 13:15] #67 closed

[2021-09-03 12:03] aouinizied commented on #69
Fixed in 6.3.4

[2021-09-03 12:05] MainRo commented on #69
Thanks!

[2021-09-11 18:15] Arri commented on #70
Hi @Zied,
Thank you. Don't see the issue anymore.
I repeated only the last step to build NFStream from here
<https://www.nfstream.org/docs/>.
I noted that the revision number (6.3.4) has not changed.

Thanks

On Wed, Sep 1, 2021 at 6:53 AM Zied Aouini ***@***.***> wrote:

[2021-09-24 11:05] stanpao opened #73 "Can't capture living traffic"
**Online capturing doesn't work.**
Local pcap parsing works but online capturing not.
No more clear traceback info.

**To Reproduce**
Steps to reproduce the behavior:
In [193]: streamer = NFStreamer('enp7s0')
In [194]: for i in streamer:
                  print(i)
`---------------------------------------------------------------------------
ValueError                                Traceback (most

[2021-09-24 11:23] aouinizied commented on #73
@stanpao did you start it as root?

[2021-09-24 11:30] stanpao commented on #73
embarrassed... u are right...

[2021-09-24 11:30] #73 closed

[2021-09-28 21:49] rasheed-rd opened #74 "mp.set_start_method("fork") causing RuntimeError: context has already been set"
**Describe the bug**
I have a project I want to use NFStreamer in that uses multiprocessing. I'm setting the start method to fork using `mp.set_start_method("fork")`. When trying to import and use NFStreamer this causes a runtime error b/c streamer.py on [line 32](https://github.com/nfstream/nfstream/blob/master/nfstream/streamer.py#L32) is also setting the start method to fork, according to the p

[2021-09-29 14:13] aouinizied commented on #74
@rasheed-rd Nice catch! Thanks for reporting.
Indeed `mp.set_start_method("fork")` was used to avoid issue on OSX. It needs to be changed to `mp_context = get_context("fork")` where `mp_context` is a private attribute of Streamer object.
I can patch it unless you want to provide us with a PR (this would be a great first contribution). What do you think?

Zied

[2021-09-29 15:42] rasheed-rd commented on #74
@aouinizied Thanks for the prompt response. It would be a great first contribution. I'll go ahead and create a PR for it, hopefully get it in by tomorrow.

Rasheed

[2021-09-30 23:43] rasheed-rd commented on #74
@aouinizied I made the changes [here](https://github.com/rasheed-rd/nfstream/commit/387e032ccbf619c454d3c31db6a6c09ba3bb9f67) but did not create a PR b/c I can't get the tests to run. I followed the instructions in the CONTRIBUTING document but I'm getting the following error, any guidance?
I'm running it on MacOS 11.6, tried python 3.6.15 and python 3.9.6.

[code]

[2021-10-01 08:48] aouinizied commented on #74
@rasheed-rd well done!
Tests are not passing due to 2 reasons:
* You should resync your branch in order to have a fix I pushed yesterday.
* Check the updated instructions in CONTRIBUTING, libgcrypt and libgpg-error versions are updated. So need to rebuild dependencies with these new versions and rerun setup bdist_wheel.

Thanks for your contribution.

Zied

[2021-10-02 17:09] rasheed-rd commented on #74
@aouinizied Thanks! That took care of those errors. When I ran the tests locally they all passed except for `test_source_parameter` which hangs on source `lo0`. It hangs with and w/o the changes. Is there something I'm missing that'll help make this test pass on macOS 11.6?

[2021-10-02 17:45] aouinizied commented on #74
@rasheed-rd Thanks!  CI tests are passing on macos. Maybe the issue is that you runned tests.py as root which make lo0 accessible and thus script are waiting for a flow expiration instead of raising an expected exception. Did you run tests as root ?

[2021-10-02 17:59] #74 closed

[2021-10-02 18:59] rasheed-rd commented on #74
No, I ran them as my local user. It does appear the lo0 was accessible though.

[2021-10-02 19:03] aouinizied commented on #74
@rasheed-rd Ok will change it then. You confirm that it is correctly working when you run live capture (idle_timeout to 1) to avoid waiting 120 secs.

[2021-10-07 08:25] imagineTh4t opened #77 "Tests.py doesn't work"
Hi,
When I run tests.py, I get these errors:

Traceback (most recent call last):
  File "/usr/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/gurkan/nfstream/nfstream/meter.py", line 208, in meter_workflow
    dissector = setup_dissec

[2021-10-11 07:31] imagineTh4t opened #81 "Some issues about debugging"
I want debugging engine_cc.c . For this running tests.py in debug mode.(VS Code Python C++ Debugger Extension used)
But my debug finish before C code part.  I can't get into C code. I don't see C Code's breakpoints.
My versions:
nfstream 6.3.5
GNU gdb (Ubuntu 9.2-0ubuntu1~20.04) 9.2
Python 3.8.10
numpy              1.21.2
dpkt               1.9.7.2
psutil             5.8.0
cffi               1.14.

[2021-10-11 12:38] #81 closed

[2021-10-13 06:24] imagineTh4t opened #82 "LDAP features how can i use in nfstream?"
I want to get SMB features(domain,username,hostname,etc.) and LDAP features from nDPI on nfstream. Can you help me about it ?

[2021-10-13 06:48] drnpkr commented on #82
Hi @imagineTh4t

I am certain that this is not a bug or issue in NFStream. Thus, this issue will be closed soon.

You can ask such questions in the `Discussion'.

[2021-10-20 13:45] imagineTh4t opened #86 "Build not complete dissector error"
I try on Cent Os 8 machine. I did prerequirements. But i got this errors.
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/local/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/nfstream/nfstream/meter.py", line 208, in meter_wor

[2021-10-22 19:27] 89z opened #87 "ETL files"
Windows has two built in tools to capture packets, `pktmon` and `netsh trace`. However these tool produce ETL files instead of PCAP files.

It would be helpful if this program was able to read packets from ETL files.

[2021-11-03 18:23] frkn4129 commented on #86
@drnpkr
when I looked at the last build, I realized that things were resolved.
is this true?

[2021-11-03 18:56] aouinizied commented on #86
@frkn4129 Yes.
The dev branch of nfstream is sync with nDPI dev branch.
As nDPI is an active project, it happens that C structures definitions change (field addition, deletion etc.). As we bind this structure in python, this generate the error you observed.
So now it is fixed until the future change (example when this PR will be merged https://github.com/ntop/nDPI/pull/1354) .
Our future plans is

[2021-11-03 18:56] #86 closed

[2021-11-03 19:24] frkn4129 commented on #86
@aouinizied thanks for answering. I have a one more question
nDPI made improvements in its latest update, this update how did it affect nfstream?

[2021-11-04 10:16] aouinizied commented on #86
@frkn4129 as nDPI is faster as stated in this announce
https://www.ntop.org/ndpi/introducing-ndpi-4-0-dpi-for-cybersecurity-and-traffic-analysis/
Consequently, nfstream dissection is faster.

[2021-11-04 10:30] frkn4129 commented on #86
thank you for taking your time. Zied :)

[2021-11-15 06:32] KSGJ-CLOUD commented on #87
I had installed nfstream packeage.But when  I use it，such as “from nfstream import NFStreamer”，backetground appears “cannot import name NFStreamer”，I don‘t know why？

[2021-11-15 06:34] KSGJ-CLOUD opened #89 "cannot import name NFStreamer"
I had installed nfstream packeage.But when I use it，such as “from nfstream import NFStreamer”，backetground appears “cannot import name NFStreamer”，I don‘t know why？

[2021-11-15 08:06] drnpkr commented on #89
I @KSGJ-CLOUD

you have to be more specific regarding your problem.

You had installed NFStream using pip? Did you make sure that pip installed NFStream for the Python version you plan to use (I assume you know there might be pip and pip3 on your OS). Could you show us the output for:

pip -V
python -V
(alternatively python3 -V)

How do you import NFStream? Do you use a python program, e.g. the ex

[2021-11-15 08:15] KSGJ-CLOUD commented on #89
Hello！
Thank your reply. I had resolved this problem, because I build new .py file name which conflicts NFStream.Now I rename this file，success！
Best，
Yin
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "nfstream/nfstream"

[2021-11-15 09:50] #89 closed

[2021-11-19 06:00] KSGJ-CLOUD opened #90 "Unable to activate source."
I write “my_streamer = NFStreamer(source='eno1')”my_streamer = NFStreamer(source='eno1')，point to ubuntu interfaces  name，but Background appears “ValueError: Unable to activate source.”ValueError: Unable to activate source.
Meanwhile，I am in win10 “my_streamer = NFStreamer(source=None)”.
Background appears Process finished with exit code 1.

[2021-11-19 06:08] frkn4129 commented on #90
@KSGJ-CLOUD did you run it as root

[2021-11-19 06:09] KSGJ-CLOUD commented on #90
I am in anaconda environment

[2021-11-19 06:16] KSGJ-CLOUD commented on #90
interfaces name is correct. Beccause I Inquired
![image](https://user-images.githubusercontent.com/71766358/142574488-3609a6e9-0096-4f43-aab0-2d6b171ee38d.png)

[2021-11-19 06:22] frkn4129 commented on #90
i think i guess if you start it with root the problem will be solved

[2021-11-19 06:27] KSGJ-CLOUD commented on #90
But if use root environment.  many python and tensorflow environment don‘t be used.

[2021-11-24 16:01] aouinizied commented on #90
@KSGJ-CLOUD You must start as root for live capture.
In virtual env, you can still run as root and have packages from user defined env as follows:
[code]

[2021-11-24 16:01] #90 closed

[2021-11-25 08:16] stanpao opened #91 "Simply describe two bugs which have no obvious exception"
**Describe the bug**
Here I raise two bugs that have no obvious exception:
1. a few times flow key processing logic error happened:
Process ForkProcess-37:
Traceback (most recent call last):
  File "/home/baojunxian/miniconda3/envs/tensorflow/lib/python3.8/multiprocessing/process.py", line 313, in _bootstrap
    self.run()
  File "/home/baojunxian/miniconda3/envs/tensorflow/lib/python3.8/multiproc

[2021-11-29 19:58] vadimszzz opened #92 "How to pass SSLKEYLOG file?"
How to decrypt .pcap TLS traffic with .keylog file?

https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/Key_Log_Format

[2021-12-02 05:43] imagineTh4t opened #93 "nDPI integration"
When are you going to get the linux build and complete the ndpi integration?

[2021-12-03 15:08] aouinizied commented on #92
@vadimszzz We do not support such a feature in NFStream. Consequently, I will tag this issue as enhancement.
I do not ensure you that this will be implemented. Maybe we should start by implementing an NFPlugin to perform that.
What do you think?

[2021-12-03 15:09] aouinizied commented on #93
@imagineTh4t what do you mean with ndpi integration?

[2021-12-03 15:30] aouinizied commented on #91
@stanpao
* from the log you are provinding I see that it's a modified version of NFStream and that the Flow Key do not match what is implemented in the mater. So Please, provide us with more information in order to be able to help you.
 * I guess your second point is related to previous point.
* Yes flow definition in NFStream is bidirectional and key is computed as you mentioneed. The scenario yo

[2021-12-03 16:08] aouinizied commented on #91
@stanpao https://github.com/nfstream/nfstream/commit/6a1fd3307a03f7b8bb2882d97256ecbf948a89f7 address your last point.

[2021-12-09 07:53] #93 closed

[2021-12-09 15:14] #91 closed

[2021-12-10 14:07] Chenhait opened #95 "how to obtain the data like UNSW-NB15"
hi, I want to train a Intrusion Detection model with UNSW-NB15 dataset,
then do the real time Intrusion Detection  use the data collected by nfstream.
is it possible?
I want to know if all feathers in UNSW-NB15 dataset can be collected with nfstream.
thank you so much if any advance or reference.
best wish

[2021-12-11 18:30] aouinizied commented on #87
@89z last released version add the suppirt of Windows Platform. Consequently, you can run nfstream in live mode. Is that ok for you as a temporary solution?

[2021-12-11 19:04] 89z commented on #87
@aouinizied I am specifically trying to avoid installing any third party drivers, which Npcap would be. So thats not a good solution. If ETL is support that would be better, alternatively I am looking into solutions with proxy servers.

[2021-12-23 07:22] frkn4129 opened #96 "build failed"
Your linux build passing but my build was failed. How can i do ?

----------------------------------------------------------------------
.Test accounting_mode parameter                                 : OK
.
----------------------------------------------------------------------
.Test active_timeout parameter                                  : OK
.
--------------------------------------------------

[2022-01-05 12:26] prabhat0987 opened #99 "nfstream (versions 6.1.1 and above) not logging flow information."
nfstream is not logging flow information when `source` is an interface but working fine with pcap files.

I tried with versions 6.0.x , they are working as expected.
I tried with versions 6.1.1 , 6.3.4, 6.2.5 , 6.1.3 but none are working with interface. I also tried latest version (6.4.0), this also fails to log flow information.

When `performance_report=1` (for versions 6.1.1 and above) and `sou

[2022-01-06 12:02] prabhat0987 commented on #99
my_bad... I decreased the active and idle timeout and things got to work for me.   -- by default these value is too high for testing purpose.

[2022-01-06 12:02] #99 closed

[2022-01-07 11:21] stanpao commented on #95
Actually, nearly all statistical data can be collected by custom nfstream plugin. But I'm afraid that it's difficult to generate traffic features with the same statistical standard of UNSW-NB datasets. The exception may be ML sample shifting.

[2022-01-07 17:21] aouinizied commented on #96
Please clean your environment and retry making sure you follow the instructions  (reclone both nfstream and nDPI).
If the issue persist, the output of  python setup.py bdist_wheel step will be more helpful than the tests log.

[2022-01-07 17:21] #96 closed

[2022-01-08 04:55] #92 closed

[2022-01-10 13:07] aouinizied commented on #95
I didn't explore in details the specified dataset. I believe any flow feature is already within nfstream features or can be obtained by an NFPlugin.
@stanpao what do you mean by same statistical standard of UNSW-NB dataset?

Zied

[2022-01-11 01:22] stanpao commented on #95
The standard way of collecting data feature. I think that may dataset are collect by some custom-made NTA tools or specific tools. It's may be difficult to obtain the same constructional features using nfstream by handwriting plugin like what other tools do. Different statistical method may cause prediction/validation dataset shift from training dataset . Dataset imbalance may be.

[2022-01-11 10:22] #95 closed

[2022-01-11 10:22] #87 closed

[2022-01-16 17:15] Yellow-King21 opened #101 "suddenly packets drop"
Hello I working with nfstream and I saw that suddenly after few minutes (I think 2 minutes ), bigger part of recieved packets started droped, also before this drop, every process use around 40% CPU, after every process are using around 20%.

I am using Trex packet generator which produce around 9.30Gbps and 1.08 Mpps, additionaly I can provide Trex config if is needed.

This is my source code:
[co

[2022-01-19 20:50] Yellow-King21 commented on #101
I realized that was because the parameter idle_timeout so I misunderstand function of this parameter. Can you explain me why packets are drop, because as you see in my output, packets are recieved non-stop and documentation describe that if packets are not recieved for more than this value in seconds than  are expired.

Thank you.

[2022-01-19 21:49] drnpkr commented on #101
Hi @Yellow-King21,

I do not know if the below qualifies as a comprehensive answer, but here is my shot at your issue:

Processing packets at high speed is not a simple task, especially on commodity hardware (no matter you use a dedicated rack server). No wonder network vendors sell their high speed devices at such a high price.

Indeed, when the idle_time expires (120 seconds) flows are being exp

[2022-01-21 18:31] Yellow-King21 commented on #101
Hi @drnpkr, my goal is designe flow collector to drop packets as little as possible and also I have additional answers to your comment.
<ol>
<li> I am using two separate machine, one to generate flow and one with nfstream, that consume this flow. </li>
<li> I am using  intel x520 dual-port and also I am using RSS to advance fanout.</li>
<li>I am currently achieve about 0.3 - 1% drop. When I run 10

[2022-01-31 04:39] ahussey-redhat opened #102 "'to_pandas' hangs when running as part of a systemd service"
**Describe the bug**
I have a basic python application which uses nfstream's NFStreamer to categorise flows from PCAPs. Running the application as part of a virtualenv works perfectly and outputs correctly. When run as a systemd service, everything runs correctly up until the point that I convert the NFStreamer object/result `to_pandas`. I get no response and the program just seems to halt.

**To

[2022-02-10 11:31] aouinizied commented on #102
HI @ahussey-redhat,

Can you please retry with to_csv method in order to see if the problem comes from pandas itself or from a more specific scenario?

Zied

[2022-02-10 11:36] aouinizied commented on #101
Please read the doc regarding timeouts. You are using active timeout with 1 sec value. So Basically each second, all flows are expired each second when they are active.
Use a higher value for active timeout (300 secs as example) and something like 120 secs for idle timeout.

Zied

[2022-02-11 15:01] #101 closed

[2022-02-18 16:18] adamjanovsky opened #103 "Wheel for Alpine linux"
Since many CI/CD pipelines are utilizing Alpine linux, it would be handy to have built wheel package available for the platform. Listing available wheels on `python:3.8-alpine` docker image yields

[code]

It would be nice to reintroduce Alpine as a target for your PyPi distributions. Do you consider compiling new versions also for Alpine somewhen in near future?

[2022-02-22 10:48] foongminwong opened #104 "NFStreamer(source=file).to_pandas() return empty dataframe"
**Describe the bug**
I am trying to read a pcap file exported from Wireshark  downloaded from [here](https://www.unb.ca/cic/datasets/vpn.html), however it returns an empty dataframe after running `to_pandas()`.

**To Reproduce**
Here's the codes running in Jupyter Notebook:

[code]

**Expected behavior**
The pcap is 360MB and not empty, so we should expect the columns to show up

**Screenshots**
!

[2022-02-25 06:59] Nirikshatk opened #105 "Application detection"
Hi,
I am new to networking and nfstream.
 I am trying to detect applications installed on the computer (Passively) by using the network traffic, i see in nfstream we has an output field for application_name.I tried running it, But i see that in application name i am getting is
 the protocol names like, application_name=TLS, application_name=TLS.AmazonAWS, application_name=DNS.
As per my understand

[2022-02-27 05:41] missyoyo opened #106 "flows long time delay when use network interface live captrue"
**Describe the bug**
Hi, I have some performance test recently and find a issue, I use Apache JMeter to get some http test(http object 100KB no keep alive).I send 5863 http get in 10 seconds and use nfstream live network interface captrue,I get 5869 results use nfstream, seem total count has no problem,but unfortunately I start test at 21:00 but last record received at 22:01 take 1 hour. I have so

[2022-02-28 15:02] #102 closed

[2022-02-28 15:05] aouinizied commented on #103
@adamjanovsky it would be great but not yet planned. I will let this issue open and will come back to you as soon as there is plans to extend the CI platforms.
Do you have any link to a project using github actions CI/CD and running on alpine?

Zied

[2022-02-28 16:24] aouinizied commented on #105
Yes, if you are running nfstream on the host that is generating the traffic then, you can enable what you want to get by setting system_visibility_mode to 1 system_visibility_poll_ms=0 as example.

Zied

[2022-02-28 16:26] #105 closed

[2022-02-28 21:39] ahussey-redhat commented on #102
Sorry about my delayed response. Happy to keep this issue closed.
For what we were trying to do nfstreamer might not have been the ideal candidate, we ended up using tshark, as we were just wanting to categorize protocols

[2022-03-01 11:01] adamjanovsky commented on #103
That'd be great. I've figured that I miss this feature in one of mine projects as well. So I guess I can try to prepare it and provide some guidance subsequently. I'll report if and when I succeed.

[2022-03-02 01:58] foongminwong commented on #104
Here's a link to the particular pcap file: [vpn_bittorrent.pcap](https://www.dropbox.com/s/ahtxqamdan9x40p/vpn_bittorrent.pcap?dl=0)

[2022-03-02 08:53] drnpkr commented on #106
Hi @missyoyo,

I think I know what could be the problem. Can you please try using different idle and active timeouts and get back with the results/observations?

Thanks

[2022-03-02 09:49] foongminwong commented on #104
Thank you for your reply!

- I run the exact same code in Jupyter Notebook, and somehow it prints `None`

![image](https://user-images.githubusercontent.com/23441795/156332336-ba1d2f9b-2e81-40ab-8894-959ae47c7f98.png)

- I also tried the same way as how you ran the `test.py` and here's the error:

![test](https://user-images.githubusercontent.com/23441795/156334185-cb811525-dc5e-42d8-8761-1bd16d3d

[2022-03-03 06:43] foongminwong commented on #104
Yes, this seems like a Windows problem.. After running the code on a Linux virtual machine, it works with no errors. Thank you for your help!

[2022-03-03 14:17] aouinizied commented on #106
@missyoyo I will try to explain what is happening there:
* nfstream starts normally and spawn several meters on your host.
* each meter will process a subpart of your traffic based on kernel flow hash based load balancing mechanism (as you are doing live capture on Linux system).

In practice, this means that each packet belonging to a bidirectional flow will be treated by the same meter. let's ta

[2022-03-12 10:58] lifanxin opened #114 "nfstream can't handle raw packet data?"
When use nfstream to handle pcap files with raw packet data, it return nothing.
Maybe these formats have not been considered, how should I deal with it?

the raw packet data like this
![1](https://user-images.githubusercontent.com/26763226/158015267-911c903f-812e-4990-95bc-fcb1252292d3.png)

[2022-03-12 10:59] lifanxin commented on #114
the raw packet data means don't have the ethernet layer

[2022-03-13 00:33] lifanxin commented on #114
Ok, I got it. It just like issue #104 . linux will be fine, but windows will be return nothing. This is a confusing questiion.

[2022-03-15 17:58] aouinizied commented on #114
Thanks for reporting this issue. Indeed it was related to how raw datalink type was handled on Windows.
This is fixed by https://github.com/nfstream/nfstream/commit/00449108bd3b2726f5507bb37e036691fd6d7253 and this patch will be part on next the release.

[2022-03-15 17:58] #114 closed

[2022-03-15 17:58] aouinizied commented on #104
This is fixed by https://github.com/nfstream/nfstream/commit/00449108bd3b2726f5507bb37e036691fd6d7253 and this patch will be part on next the release.

[2022-03-16 01:54] trungtly opened #115 "splt_analysis max value"
Hi,

I tried `nfstream` recently and it is really impressive.
Currently `splt_analysis` can be set to maximum 255.
In practice, the flow might contain much more packets. Is there a reason why `nfstream` has to cap at 255, and can we relax this number to say 65535?

Thanks a lot.

[2022-03-16 03:16] lifanxin commented on #114
Thanks for your contribution, honestly, it's an amazing project.

[2022-03-24 11:19] foongminwong commented on #104
Thank you @aouinizied ! Just tested and it's working now in Windows

[2022-03-28 12:14] aouinizied commented on #115
@trungtly Yes we can relax it. This will be be part of future release.

[2022-03-31 13:32] frkn4129 opened #117 "Can I run nfstream with pf_ring_zc?"
Is nfstream compatible with pf_ring? Does nfstream support this?

[2022-04-01 10:35] aouinizied commented on #117
@frkn4129 This is technically possible with an adequate integration within the native code part of nfstream but we are not working on it. Current plans are as follows:

*  Work on improving nfstream overall performance.
* DPDK integration instead of PFRING_ZC to avoid commercial license.

 If you want to contribute by adding PFRING_ZC capabilities to NFStream, do not hesitate to push a PR.

[2022-04-01 10:35] #117 closed

[2022-04-04 10:17] foongminwong opened #118 "FlowBytes/s, FlowPackets/s & other features"
Hi,
I was looking at the [list of features](https://www.nfstream.org/docs/api#nflow-core-features) in nfstream and they are quite comprehensive & detailed.

Quick question, does nfstream have similar features like `FlowBytes/s`, `FlowPackets/s`, `Active Mean`, `Idle Mean`, etc. in [CICFlowMeter](https://github.com/ahlashkari/CICFlowMeter/blob/master/ReadMe.txt)?

Thank you!

Notes:

- I can someho

[2022-04-22 09:06] Schwaggot opened #121 "Support for list of consecutive capture files as source"
Hello, I was wondering if it would be possible to add support for a list of consecutive files as input, i.e., sliced Pcap captures. Due to RAM or disk space requirements it might not be always possible to merge all files into one big capture upfront. I know that some publicly available data sets partition their captures in slices of 2gb for example. As a start the NFStreamer could take a list of f

[2022-04-26 14:27] aouinizied commented on #118
@foongminwong Can you provide a pcap file and the expected output in order to be able to help you?

Best regards,
Zied

[2022-04-27 20:26] balint-bicski opened #122 "Implement Packet Sampling"
Hi!

At this point NFStream only supports Packet Selection by filtering.
However, at the packet capture step, we may not want to or may not be able to afford the processing of every packet, but only a subset of them. It would be great to set up `NFStreamer` to process only every xth packet, i.e. give it a sampling rate using an attribute.

Thank you!

[2022-04-28 11:45] aouinizied opened #123 "Implement Fuzzing Testing."
As NFStream is used to monitor IT infrastructures. It is mandatory to put in place Fuzzing testing to avoid crashes and insecure behaviors when processing bytes that comes from network.
A good approach is to use Google OSS-Fuzz.
A PR is made: https://github.com/google/oss-fuzz/pull/7632 and acceptance is pending.

[2022-04-28 13:29] foongminwong commented on #118
Hello @aouinizied , thank you for your reply! Just recently found out that the current list of NFStream statistical features is sufficient enough for now, thus getting similar `Active Mean` & `Idle Mean` in CICFlowMeter won't be useful. This can be closed :)

[2022-04-28 13:38] #118 closed

[2022-04-28 13:40] aouinizied commented on #118
@foongminwong Thaks for the feedback,  do not hesitate to upgrade to lastest version as you will have important speed gain.

Regards,
Zied

[2022-05-04 18:54] frkn4129 opened #124 "I have a some questions on flow structure of lib_engine.c"
Hello, I need your help to build a Flow Structure ;

I've been reviewing lib_engine.c code lately. I couldn't understand how the flow was formed
Where is flow information stored or how is it updated? how do   packages find the exact flow?
Is the idle time of the flow controlled continuously? Which function does this on lib_engine.c ?
Which step-by-step functions does the flow go through while crea

[2022-05-06 11:24] AbdelkaderMH opened #125 "Flow direction may change after being expired by the active timeout"
- Flow direction:
The direction of a flow is determined by the first received packet. In case of TCP flow expiration by the active timeout, the next flow may not preserve the correct direction when the first packet is coming from the destination host (a packet with ACK flag from).

- TCP flows:
TCP flow might be initiated after capturing SYN packets and their acknowledgment from both directions.

[2022-05-26 03:13] sooualil opened #126 "Can't install nfstream from source "undefined symbol: ibv_create_cq""
**Describe the bug**
I wanted to fork the repository to test some tweaks, but I seemed to have a problem installing my fork, turned out there's some compiling issue after installing nfstream even from the original source repository which gives an error when importing nfstream:
`ImportError: /.../python3.6/site-packages/_lib_engine.abi3.so: undefined symbol: ibv_create_cq`

**To Reproduce**
Steps t

[2022-06-01 14:05] aouinizied commented on #126
@sooualil Thanks for reporting.
This is due to libpcap configuration. Adding `-disable-rdma` at the end of this [line](https://github.com/nfstream/nfstream/blob/1322d6b1e40a8a242e6f5df4b51d8c39a8db999d/nfstream/engine/scripts/build_linux.sh#L21) should fix your issue.

Zied

[2022-06-21 03:58] 199661 opened #127 "Running nfstream6.5.1 program on windows gets stuck for a long time"
**Describe the bug**
I installed nfstream6.5.1 using pip, but only a few thousand pieces of data are output when performing large file (200M) traffic feature extraction on windows11. Also, I changed the pcap file and the version of nfstream to no avail. The program will get stuck in the Nfstreamer stage.
**To Reproduce**
Steps to reproduce the behavior:
1. There is no problem under linux, but when

[2022-06-26 12:51] SunEternal opened #128 "How does nfstream handle a large number of small files？"
I've observed that NFStream is quick with large files, but slow with multiple small files. Are there any good ways to solve this problem.

[2022-06-26 14:08] aouinizied commented on #121
@Schwaggot are you interested with contributing with a PR regarding this feature? This would be awesome!

Zied

[2022-06-26 14:09] aouinizied commented on #127
@199661 Can you please fix the version to 6.5.1 and provide a sample pcap where we can reproduce the issue?

[2022-06-26 14:11] aouinizied commented on #128
@SunEternal Can you provide us with more details? What do you mean by slow? Do you have some metrics?

Zied

[2022-06-26 14:14] aouinizied commented on #125
@AbdelkaderMH Thanks. Are you interested in providing us with a PR for the FlowTCPTermination Plugin and its tests?

Zied

[2022-06-26 14:15] aouinizied commented on #123
UPDATE: NFStream was accepted by Google OSSFuzz panel.

[2022-06-26 20:22] Schwaggot commented on #121
Yeah, I'll have a look into it.

[2022-06-27 07:36] SunEternal commented on #128
I have observed that when working with a large PCAP file, he usually solves it quickly in a matter of seconds. However, when processing smaller PCAP files, it also takes about 2 seconds. I have hundreds of thousands of small PCAP files and it's hard to deal with them. I tried to look at the source code, but didn't think of anything to solve it.

[2022-06-27 07:43] drnpkr commented on #128
@SunEternal I am a bit confused with your selection of words. So you do not experience NFStream being slow but your main problem is a massive number of files that must be processed sequentially?

Could you please describe what behaviour would you expect from NFStream?

[2022-06-27 07:54] SunEternal commented on #128
For example, NFStream can take a few seconds to process a large PCAP file of 1GB, which is great. However, processing a small PCAP file of 1M also takes a few seconds. So when I need to process hundreds of thousands of small PCAP files, it takes a long time. I wonder if there is a way to process a large number of PCAP files in batch. Thank you very much for your patience.

[2022-06-27 07:56] Schwaggot commented on #126
@aouinizied I have the very same problem. I forked the repo to work in the multiple file sources PR and now I am stuck while building from source. The line you referenced for `build_linux.sh` now looks as follows:
[code]
But still after running `python3 prepare.py` and `python3 -m pip install .` I get the same error:
[code]

[2022-06-27 07:59] drnpkr commented on #128
I am afraid NFStream is currently not suitable for this specific goal. What you could do is to write a script (just a couple of lines) that iterates through all PCAP files in your folder and process them sequentially. This way you, do not need to manually run the program with different file names.

[2022-06-27 08:04] SunEternal commented on #128
Thank you very much for your answer, I think I need to try to solve it with multiple processes

[2022-07-13 07:55] stefanDeveloper opened #130 ""TypeError: str expected, not int" when installing on MacOS"
**Describe the bug**
Currently, I'm trying to test NFStream on my Mac, however, it turns out that the `numpy` version 1.18.5 is affected by the issue mentioned here https://github.com/numpy/numpy/issues/17987 (see for reference: https://github.com/numpy/numpy/commit/1ccb4c6dbfa6194d1627885e39f81823bce44fc7). Starting from version 1.21.0, numpy install works.

[code]

**Desktop (please complete the

[2022-07-20 11:11] #128 closed

[2022-07-20 11:12] aouinizied commented on #127
@199661 any updates?

[2022-07-20 11:48] #126 closed

[2022-07-20 12:15] stefanDeveloper commented on #121
I'd also interested in this feature

[2022-07-20 13:30] aouinizied commented on #130
@stefanDeveloper  Thanks for reporting. This is fixed in https://github.com/nfstream/nfstream/commit/555cff6a9a9378d0b87553953444f7a89908583c and will be included in next release.

[2022-07-20 13:30] #130 closed

[2022-07-26 14:06] Schwaggot commented on #121
@aouinizied You were right, a fresh checkout and update to current master branch appears to have fixed the build issue. I have created a PR for this topic here: https://github.com/nfstream/nfstream/pull/131

[2022-07-27 13:26] #121 closed

[2022-08-09 06:48] NLZer0 commented on #127
Have a same problem with cic-ids2017 (https://www.unb.ca/cic/datasets/ids-2017.html)
NFStream version 6.5.1, Python 3.9,7

[2022-08-10 15:16] aouinizied commented on #127
@NLZer0 @199661 Thanks for the reporting this issue. We were able to reproduce it and to fix it. The patch will be part of the next release.

[2022-08-10 15:16] #127 closed

[2022-08-24 19:08] adendogar opened #132 "Get timestamp for each source Ip ?"
Hi
I am try to get timestamp associated with each source IP .can you please give me an example how can i use the NFPlugin for that purpose ?

[2022-08-24 19:24] drnpkr commented on #132
I would treat each packet as a single-packet flow (there is an example for such an NFplugin here on GitHub) and would focus on the flow start feature (column). That would do the trick. I would not apply this in production though.

[2022-08-24 19:26] adendogar commented on #132
Can you please share a code example ?

[2022-08-24 19:52] drnpkr commented on #132
Check the flow slicer NFplugin example here: https://nfstream.org/docs/api

[2022-08-24 19:57] adendogar commented on #132
but flow slicer will force NFStream to expire each flow that reaches a packet count limit. my target is to get the timestamp . how this will help me ?

[2022-08-24 19:58] adendogar commented on #132
<img width="673" alt="Screenshot 2022-08-24 at 3 57 36 PM" src="https://user-images.githubusercontent.com/78276661/186511485-f54e36ff-c16f-4fdb-91ef-c8e072f3367c.png">

[2022-08-24 19:58] adendogar commented on #132
similar to this

[2022-08-24 20:31] drnpkr commented on #132
If you set packet limit to 1, each row is going to correspond to a flow containing statistics about one packet, including the source IP and the flow start = timestamp. You get all the info you want. That's how it is going to help you.

[2022-08-26 17:24] adendogar commented on #132
Hi i have followed the steps but still not getting the timestamp. can you please share the exact code with me ?

[2022-09-21 14:26] #125 closed

[2022-09-21 14:26] #106 closed

[2022-09-21 17:55] #123 closed

[2022-09-26 17:15] finloop opened #137 "Wavelet features plugin"
Hi! Thanks for writing NFStream I'm using it for my thesis, and it is a great tool for feature generation.

## Plugin idea
I've come across a paper: "Efficient and robust feature extraction and selection for traffic classification" https://arxiv.org/abs/2205.05628 and in this paper they show that wavelet features are great for some ML tasks. So I thought that I could implement a plugin that would

[2022-09-27 07:52] aouinizied commented on #137
Thanks. Yes, active_timeout is what you need. Do not hesitate to contribute with a  PR once your plugins implemented.

Zied

[2022-09-27 07:52] #137 closed

[2022-09-27 15:27] aouinizied opened #138 "Setup a mini performance benchmark as part of the CI."
**Describe the bug**
In order to avoid modifications that harm the processing performance of nfstream (also to track performance improvement over releases), it is important to have a benchmark as art of the CI.

One idea could be to use the self-hosted runner (RPI-4) with a set of pcap files and to measure processing speed in a reproducible way.

A first run will establish a baseline. Then, at eac

[2022-09-27 22:55] aouinizied commented on #103
@adamjanovsky starting from version 6.5.2, wheels are published for Alpine Linux: https://pypi.org/project/nfstream/6.5.2/#files

[2022-09-27 22:55] #103 closed

[2022-09-28 01:31] Pau1code opened #139 "Can't support to parser ".pcapng" file?"
I noted that your "Release V6.2.6" already supports parsing `.pcapng` files. Now, my nfstream is 6.5.2, and dpkt is1.9.8.
Unfortunately, I encountered the bug shown in the following figure.
![image](https://user-images.githubusercontent.com/33210080/192732263-3910dbba-ca94-4d30-b5f4-d3e84970f874.png)

[2022-09-28 08:58] aouinizied commented on #139
@Pau1code Thanks for reporting, can you share a pcapng file where you encounter this issue, also the script you use in order to reproduce.

Thanks

[2022-09-28 10:09] Pau1code commented on #139
sorry, I checked my script carefully and found that I had made a mistake in the file path. Now, everything is ok, thank you!

[2022-09-28 10:27] #139 closed

[2022-09-28 16:11] finloop opened #140 "List type is not preserved after `to_pandas` method."
**Describe the bug**

List type is not preserved after using `to_pandas` method (possibly due to conversion to csv) and is converted to `str`.

**To Reproduce**

[code]
prints: `[1, 2, 3] <class 'str'>`

**Expected behavior**

The type should be preserved:
`[1, 2, 3] <class 'list'>`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2022-10-04 10:42] zujany opened #142 "Wrong value of Flow ID when making a new plugin"
**Describe the bug**
I want to make a plugin using the flow ID, but I'm getting the following string "NFEvent.FLOW", instead of the expected value ID.
I tried to append it as int and string, and I got the same results.

**To Reproduce**

[code]

**Expected behavior**
 udps.packetsID
0     0,0,0,0,...
1     1,1,1,1,...
2     2,2,2,2,...
...                                                 .

**Obtai

[2022-10-07 10:54] aouinizied commented on #142
@zujany Thanks for reporting. However, this behavior is a design choice.
nfstream uses multiprocessing for performance reasons. Consequently, The streamer is the drivers process that pulls expired flows from meters processes (workers/pushers where all the flow computation happens).
`id` generation is maintained within the streamer to guarantee it's consistency across meters.

Additionally, NFPlugi

[2022-10-07 10:54] #142 closed

[2022-10-07 10:59] aouinizied commented on #140
@finloop Yes this behavior is due to CSV temporary file involved in Pandas conversion.
You can still convert your pandas columns to the desired type.
Do not hesitate to open a PR if you have an improvement for that (JSON or whatever other serialization).

Zied

[2022-10-07 10:59] #140 closed

[2022-11-13 10:17] Cheb-Zh opened #145 "ImportError: DLL load failed while importing _lib_engine: The specified module could not be found."
Hey,

I always get this error, when I import the nfstream package.   I'm not sure where is the problem comes from? Thank you.
**ImportError: DLL load failed while importing _lib_engine: The specified module could not be found.**

[2022-11-13 23:38] aouinizied commented on #145
@Cheb-Zh Can you please provide us with some additional information about your context in order to help you?

* nfsteam version.
* how it was installed.
* your system OS and architecture.
* a complete error log.

Thanks
Zied

[2022-11-22 08:12] debugpro commented on #145
1.nfstream-6.5.3
2.pip install nfstream
3.windows 10 professional
4.File "C:\Python39\lib\site-packages\nfstream\__init__.py", line 17, in <module>
    from .streamer import NFStreamer
  File "C:\Python39\lib\site-packages\nfstream\streamer.py", line 25, in <module>
    from .meter import meter_workflow
  File "C:\Python39\lib\site-packages\nfstream\meter.py", line 16, in <module>
    from .engine

[2022-11-30 14:35] aouinizied opened #147 "Improve NFStream logging"
NFStream currently use printing for message/errors handling.
A proper logging must be implemented with configurable levels.